/* Global */

#atuiMediasplayer_AudioplayerProgressbar
{
     width : 100%;
     height : 10px;
     border-radius: 0 0 10px 10px;
     transform: translateX(-10px);
     overflow: hidden;
     position: absolute;
     bottom : 0;
}

#atuiMediasplayer_AudioplayerProgressbar > div
{
     width : 0;
     height : 10px;
     background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
     transition: width 500ms;
     margin : 0 !important;
     flex : none !important;
}

