/* Global */

#atuiMediasplayer_AudioplayerProgressbar /* Container */
{
     width : 100%;
     height : 10px;
     border-radius: 0 0 var(--atuiKernel_Borderradius) var(--atuiKernel_Borderradius);
     transform: translateX(-10px);
     overflow: hidden;
     position: absolute;
     bottom : 0;
}

#atuiMediasplayer_AudioplayerProgressbarInside /* Progressbar */
{
     width : 0;
     height : 10px;
     background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
     transition: width 500ms;
     margin : 0 !important;
     flex : none !important;
}

