/* Global */

#atuiMediasplayer_AudioplayerControls /* Barre de contrôleurs */
{
	display: flex;
	flex-wrap: wrap;
}

#atuiMediasplayer_AudioplayerControls > *  /* Tout les groupes de contrôleurs */
{
     display: flex;
     flex-direction: row;
}


/* Icons */

#atuiMediasplayer_AudioplayerControls img /* Tout les icônes */
{
     width : 30px;
     height : 30px;
     padding : 5px 10px;
     border-radius : var(--atuiKernel_Borderradius);
}

#atuiMediasplayer_AudioplayerControls img:hover /* Tout les icônes au survol */
{
     background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
}


/* Timer */

#atuiMediasplayer_AudioplayerTimer p /* Texte du minuteur */
{
     margin : 0px;
}

#atuiMediasplayer_AudioplayerTimer p:nth-child(2) /* Tiret du minuteur */
{
     margin : 0px 10px;
}


/* Responsives */

@media (min-width : 768px) /* Computers */
{
     #atuiMediasplayer_AudioplayerControls /* Barre de contrôleurs */
     {
          flex-direction: row;
          align-items: center;
     }

     #atuiMediasplayer_AudioplayerControls > *  /* Tout les groupes de contrôleurs */
     {
          margin : 0 20px;
     }
}

@media (max-width : 767px) /* Smartphones */
{
     #atuiMediasplayer_AudioplayerControls /* Barre de contrôleurs */
     {
          flex-direction: column;
     }

     #atuiMediasplayer_AudioplayerControls > * /* Tout les groupes de contrôleurs */
     {
          margin : 5px 20px;
     }

     #atuiMediasplayer_AudioplayerTimer /* Conteneur du minuteur */
     {
          justify-content : center;
          margin : 10px 20px;
          font-size: 1.1rem;
     }

     #atuiMediasplayer_AudioplayerButtonsBasic,
     #atuiMediasplayer_AudioplayerButtonsAdvanced
     /* Tout les groupes de boutons */
     {
          justify-content: space-evenly;
     }
}

