/* Metadata : 
Auteur (github) : alcapitan
Nom du module : Medias Player
Version : dev2
*/

/* Contents :
- atuiMediasPlayerAudio
     - Player / atuiMediasPlayer_Audioplayer
     - Additionals Informations / atuiMediasPlayer_AudioplayerAdditionals
     - Music Informations / #atuiMediasPlayer_AudioplayerMusicinformations
     - Audio Controls / atuiMediasPlayer_AudioplayerControls
     - Timer / atuiMediasPlayer_AudioplayerTimer
     - Audio > Basic Buttons / atuiMediasPlayer_AudioplayerButtonsBasic
     - Advanced Buttons / atuiMediasPlayer_AudioplayerButtonsAdvanced
     - Audio > Progress Bar / atuiMediasPlayer_AudioplayerProgressbar
- atuiMediasPlayerVideo
*/

/* Audio */

	/* Player */

#atuiMediasPlayer_Audioplayer
{
	display: none;
	position : fixed;
	background-color : var(--atuiKernel_ToolsSettingsDisplaymodeColorOpacity);
	backdrop-filter : blur(10px);
	border-radius : 10px;
	width : 90%;
	padding : 10px;
	bottom : 10px;
	height : 150px;
	margin-left : 50%;
	transform: translateX(-50%);
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

	/* Additionals Informations */

#atuiMediasPlayer_AudioplayerAdditionals
{
	float : right;
	display: flex;
}

#atuiMediasPlayer_AudioplayerAdditionals img
{
	height : 25px;
	margin : 5px;
}

#atuiMediasPlayer_AudioplayerMusicinformationsAdvanced *
{
	display : none;
}

#atuiMediasPlayer_Audioplayer > img
{
	border-radius : 10px;
	width : 140px;
	height : 140px;
	float : left;
}

#atuiMediasPlayer_AudioplayerMusicinformations
{
	margin-left : 160px;
}

#atuiMediasPlayer_AudioplayerMusicinformations p
{
	font-family: "Red Hat Display";
	margin : 10px 0px;
	width : 50%;
}

#atuiMediasPlayer_AudioplayerMusicinformations p:first-child
{
	font-size: 20px;
}

#atuiMediasPlayer_AudioplayerMusicinformations p:last-child
{
	font-size: 30px;
	font-weight: bold;
	color : var(--atuiKernel_ToolsSettingsAccentcolor);
}

#atuiMediasPlayer_AudioplayerControls
{
	display: flex;
}

	/* Timer */

#atuiMediasPlayer_AudioplayerTimer
{
	display: flex;
	margin : 15px;
	transform: translate(10px, -4px);
}

#atuiMediasPlayer_AudioplayerTimer p
{
	margin : 0px;
	font-size : 16px;
}

#atuiMediasPlayer_AudioplayerTimer p:nth-child(2)
{
	margin : 0px 5px;
}

	/* Controls */

#atuiMediasPlayer_AudioplayerControls img
{
	width : 30px;
	height : 30px;
	padding : 5px;
	border-radius: 10px;
}

#atuiMediasPlayer_AudioplayerButtonsBasic, #atuiMediasPlayer_AudioplayerButtonsAdvanced
{
	margin : 0px 20px;
}

#atuiMediasPlayer_AudioplayerButtonsBasic img:hover, #atuiMediasPlayer_AudioplayerButtonsAdvanced img:hover
{
	background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
}

#progressBarControl /* Utilité ??? */
{
	background-color : #00000080;
	height : 10px;
	margin-left : 160px;
}

	/* Progress bar */

#atuiMediasPlayer_AudioplayerProgressbar
{
	width : calc(100% + 20px);
	height : 10px;
	border-radius: 0px 0px 10px 10px;
	transform: translateX(-10px);
	overflow: hidden;
	position: absolute;
	bottom : 0px;
}

#atuiMediasPlayer_AudioplayerProgressbar div
{
	width : 100%;
	height : 10px;
	background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
}

/* Video */

.atuiMediasPlayer_Video
{
	margin : 10px;
}

.atuiMediasPlayer_Video video, .atuiMediasPlayer_Video iframe
{
     border-radius: 10px;
}

@media (min-width : 768px) /* Computers */
{
	.atuiMediasPlayer_Video video, .atuiMediasPlayer_Video iframe
	{
		margin : 20px 10%;
		width : 80%;
	}
}

@media (max-width : 767px) /* Smartphones */
{
	.atuiMediasPlayer_Video video, .atuiMediasPlayer_Video iframe
	{
		margin : 20px 0;
	}
}
