/* Metadata : 
Auteur (github) : alcapitan
Nom du module : Medias Player
Version : developer branch
*/

/* Contents :
- atuiMediasplayerAudio
     - Player / atuiMediasplayer_Audioplayer
     - Additional Informations / atuiMediasplayer_AudioplayerAdditional
     - Music Informations / #atuiMediasplayer_AudioplayerMusicinformations
     - Audio Controls / atuiMediasplayer_AudioplayerControls
     - Timer / atuiMediasplayer_AudioplayerTimer
     - Audio > Basic Buttons / atuiMediasplayer_AudioplayerButtonsBasic
     - Advanced Buttons / atuiMediasplayer_AudioplayerButtonsAdvanced
     - Audio > Progress Bar / atuiMediasplayer_AudioplayerProgressbar
- atuiMediasplayerVideo
*/

/* Audio */

	/* Player */

#atuiMediasplayer_Audioplayer
{
	display: none;
	position : fixed;
	z-index: 10;
	background-color : var(--atuiKernel_ToolsSettingsDisplaymodeColorOpacity);
	backdrop-filter : var(--atuiKernel_Blur);
	border-radius : 10px;
	width : 90%;
	padding : 10px;
	bottom : 15px;
	min-height : 150px;
	margin-left : 50%;
	transform: translateX(-50%);
	box-shadow: var(--atuiKernel_Shadow);
}

	/* Additional Informations */

#atuiMediasplayer_AudioplayerAdditional
{
	float : right;
	display: flex;
}

#atuiMediasplayer_AudioplayerAdditional img
{
	width : 25px;
	height : 25px;
	margin : 5px;
	padding : 5px;
	border-radius: 10px;
}

#atuiMediasplayer_Audioplayer > img
{
	border-radius : 10px;
	width : 140px;
	height : 140px;
	float : left;
}

#atuiMediasplayer_AudioplayerMusicinformations
{
	margin-left : 160px;
}

#atuiMediasplayer_AudioplayerMusicinformations p
{
	font-family: var(--atuiKernel_FontsTitle);
	margin : 10px 0px;
	width : 50%;
}

#atuiMediasplayer_AudioplayerMusicinformations p:first-child
{
	font-size: 20px;
}

#atuiMediasplayer_AudioplayerMusicinformations p:last-child
{
	font-size: 30px;
	font-weight: bold;
	color : var(--atuiKernel_ToolsSettingsAccentcolor);
}

#atuiMediasplayer_AudioplayerControls
{
	display: flex;
	flex-wrap: wrap;
}

	/* Timer */

#atuiMediasplayer_AudioplayerTimer
{
	display: flex;
	margin : 15px;
	transform: translate(10px, -4px);
}

#atuiMediasplayer_AudioplayerTimer p
{
	margin : 0px;
	font-size : 16px;
}

#atuiMediasplayer_AudioplayerTimer p:nth-child(2)
{
	margin : 0px 5px;
}

	/* Controls */

#atuiMediasplayer_AudioplayerControls img
{
	width : 30px;
	height : 30px;
	padding : 5px 10px;
	border-radius: 10px;
}

#atuiMediasplayer_AudioplayerButtonsBasic, #atuiMediasplayer_AudioplayerButtonsAdvanced
{
	margin : 0px 20px;
	display : flex;
	align-items: flex-start;
}

#atuiMediasplayer_AudioplayerAdditional img:hover, #atuiMediasplayer_AudioplayerButtonsBasic img:hover, #atuiMediasplayer_AudioplayerButtonsAdvanced img:hover
{
	background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
}

	/* Progress bar */

#atuiMediasplayer_AudioplayerProgressbar
{
	width : 100%;
	height : 10px;
	border-radius: 0px 0px 10px 10px;
	transform: translateX(-10px);
	overflow: hidden;
	position: absolute;
	bottom : 0px;
}

#atuiMediasplayer_AudioplayerProgressbar div
{
	width : 0;
	height : 10px;
	background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
	transition: width 500ms;
}

/* Video */

@media (min-width : 768px) /* Computers */
{
	.atuiMediasplayer_Video
	{
		display: flex;
		justify-content: center;
	}

	.atuiMediasplayer_Video article
	{
		width : 750px;
	}

	.atuiMediasplayer_Video article > aside div:nth-child(2) > div
	{
		margin : 10px 15px;
	}

	#atuiMediasplayer_VideoplayerButtonsBasic
	{
		flex : 1;
	}
}

@media (max-width : 767px) /* Smartphones */
{
	#atuiMediasplayer_VideoplayerTimer
	{
		margin : 0 10px;
	}
}

.atuiMediasplayer_Video
{
	margin : 20px 0;
}

.atuiMediasplayer_Video article > video
{
     border-radius: 10px 10px 0 0;
	width : 100%;
}

.atuiMediasplayer_Video article > aside
{
	margin-top : -4px;
	border-radius : 0 0 10px 10px;
	display : flex;
	flex-direction: column;
	background-color: var(--atuiKernel_ToolsSettingsDisplaymodeColorOpacity);
	box-shadow: var(--atuiKernel_Shadow);
}

#atuiMediasplayer_VideoplayerProgressbar
{
	width : 100%;
	height : 10px;
	overflow: hidden;
}

#atuiMediasplayer_VideoplayerProgressbar div
{
	width : 0;
	height : 10px;
	background-color: var(--atuiKernel_ToolsSettingsAccentcolor);
	transition: width 500ms;
}

.atuiMediasplayer_Video article > aside > div:nth-child(2)
{
	padding : 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.atuiMediasplayer_Video article > aside div:nth-child(2) img
{
	width : 30px;
	height : 30px;
}

.atuiMediasplayer_Video article > aside div:nth-child(2) > div
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.atuiMediasplayer_Video article > aside div:nth-child(2) div p, .atuiMediasplayer_Video article > aside div:nth-child(2) div img
{
	margin : 5px;
}

