/* Global */

.atuiMediasplayer_Video
{
	margin : 20px 0;
}

.atuiMediasplayer_Video article > video
{
     border-radius : var(--atuiKernel_Borderradius) var(--atuiKernel_Borderradius) 0 0;
	width : 100%;
}

.atuiMediasplayer_Video article > aside
{
	margin-top : -4px;
	border-radius : 0 0 var(--atuiKernel_Borderradius) var(--atuiKernel_Borderradius);
	display : flex;
	flex-direction: column;
	background-color: var(--atuiKernel_ToolsSettingsDisplaymodeColorOpacity);
	box-shadow: var(--atuiKernel_Shadow);
}


/* Responsives */

@media (min-width : 768px) /* Computers */
{
	.atuiMediasplayer_Video
	{
		display: flex;
		justify-content: center;
	}

	.atuiMediasplayer_Video article
	{
		width : 750px;
	}
}

