/* Global */

.atuiMediasplayer_Videoplayer > article /* Element */ {
    border: 1px var(--atuiKernel_ColorschemeOB5) solid;
    border-radius: var(--atuiKernel_Borderradius);
    overflow: hidden;
    position: relative;
}

#atuiMediasplayer_VideoplayerVideo /* Video */ {
    width: 100%;
}

#atuiMediasplayer_VideoplayerDashboard /* Dashboard */ {
    margin-top: -4px;
    display: flex;
    flex-direction: column;
    background-color: var(--atuiKernel_ColorschemeOB1);
    width: 100%;
}

/* Responsives */

@media (min-width: 768px) /* Computers */ {
    .atuiMediasplayer_Videoplayer /* Container */ {
        display: flex;
        justify-content: center;
    }

    .atuiMediasplayer_Videoplayer article /* Video player */ {
        max-width: 750px;
    }
}

@media print {
    .atuiMediasplayer_Videoplayer /* Container */ {
        display: none;
    }
}

/* Style Overlay */

.atuiMediasplayer_Videoplayer.optionOverlay
    #atuiMediasplayer_VideoplayerDashboard {
    position: absolute;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    opacity: 0.5;
}

.atuiMediasplayer_Videoplayer.optionOverlay
    #atuiMediasplayer_VideoplayerDashboard:hover {
    opacity: 1;
}
