/* :root
{
     --vkFontsTitle : 'Times New Roman';
     --vkFontsText : Arial;
     --vkFontsSpecial : 'Ubuntu';
} */

/* :root {
    --vkColorAccent : 170;
} */

.sayHello * {
    color: hsl(var(--vkColorA50));
    font-weight: bold;
}

.boxTest {
    border: 1px solid hsl(var(--vkColorN00));
    border-radius: var(--vkBorderRadius);
}

#listFeatures > * {
    margin-block: 15px;
}
