#atuiNotificationsCenter
{
     position: fixed;
     top : 10px;
     width : 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.atuiNotifications
{
     margin : 10px;
     background-color: white;
     width : 70vw;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
     padding : 15px 30px;
}

.atuiNotifications h3
{
     font-family: "Red Hat Display";
     margin : 0;
     font-size : 22px;
     font-weight : bold;
}

.atuiNotifications p
{
     margin : 10px;
     font-size : 18px;
}

.atuiNotificationsButtonsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.atuiNotificationsButtonsContainer *
{
     margin : 10px;
}

.atuiNotificationsButtonsContainer button
{
     padding : 10px;
     border-radius: 10px;
     background-color: rgb(230, 230, 230);
     border : none;
     font-size : 16px;
}

.atuiNotificationsButtonMain
{
     background-color: var(--atuiDefaultColor) !important;
     font-weight: bold;
     font-family: "Red Hat Display";
}

.atuiNotificationsButtonFermer
{
     float: right;
     width: 30px;
     height: 30px;
}