/* Global */

/* @font-face
{
     font-family : "Red Hat Display";
     src : url("/fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf");
}

@font-face
{
     font-family : "Montserrat";
     src : url("fonts/Montserrat/Montserrat-Regular.ttf");
} */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
     margin : 0px;
     overflow-x : hidden;
}

body *
{
     font-family: 'Montserrat', sans-serif;
}

:root
{
	--atuiDefaultColor : rgb(230, 0, 0);
     --atuiDefaultColorTransparent : rgb(230, 0, 0, 0.6);
}

/* Responsives */

@media (min-width : 768px) /* Ordi */
{
     .atuiCardsContainer
     {
          display: inline-flex;
     }

     .atuiCardsPresentation
     {
          width : 300px;
     }

     #atuiHeaderBarCenter
     {
          flex : 3;
     }

     #atuiHeaderBarCenter div
     {
          background-color: rgb(242, 242, 242, 0.8);
          backdrop-filter: blur(10px);
     }

     #atuiHeaderBarCenter div input
     {
          display: inline;
     }

     #atuiHeaderBarRight
     {
          flex : 1;
     }
}

@media (max-width : 768px) /* Mobile */
{
     #atuiHeaderBarCenter div input
     {
          display : none;
     }

}

/* Sélecteurs */

.atuiSelector
{
     position : absolute;
     width : 280px;
     display : none;
     background-color: rgba(255,255,255,0.8);
     backdrop-filter: blur(10px);
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.atuiSelector a
{
     display : block;
}

.atuiSelector a:first-child
{
     margin-top : 10px;
}

.atuiSelector a:last-child
{
     margin-bottom : 10px;
}

.atuiSelector a div:hover
{
     background-color : var(--atuiDefaultColorTransparent);
}

.atuiSelector a div
{
     height : 35px;
     padding : 5px 10px;
     margin : 0px;
}

.atuiSelector a div p
{
     font-size : 20px;
     position: absolute;
     margin-top : 5.5px;
     display: inline;
     color : black;
}

.atuiSelector a div img
{
     margin : 5px;
     height : 25px;
     margin-right: 10px;
}

.atuiSelectorSeparator
{
     background-color: var(--atuiDefaultColor);
     width : 80%;
     height : 2px;
     margin : 5px 10%;
}


/* Barre d'en tête */

header > aside
{
     background-color : rgba(255,255,255,0.7);
     backdrop-filter: blur(5px);
     height : 50px;
     display: flex;
}

header > aside > *
{
     align-content: stretch;
}

header aside img 
{
     height : 40px;
     margin : 5px;
}

     /* Bloc gauche */

#atuiHeaderBarLeft
{
     height : 50px;
     padding-left: 10px;
     order: 1;
     flex: 2;
}

#atuiHeaderBarLeft > a img
{
     float: left;
     margin-left: 15px;
}

#atuiHeaderBarLeft > a p
{
     margin : 0px;
     margin-top : 4px;
     margin-left: 10px;
     color : black;
     text-decoration : none;
     font-size : 30px;
     font-weight : bold;
     display : inline-block;
     font-family : "Red Hat Display";
}

     /* Bloc centre */

#atuiHeaderBarCenter
{
     padding : 5px;
     width: min-content;
     order : 2;
}

#atuiHeaderBarCenter div
{
     height : 40px;
     border-radius: 10px;
}

#atuiHeaderBarCenter div input
{
     background-color: transparent;
     font-size: 25px;
     padding : 5px;
     width : calc(100% - 60px);
     height: 30px;
     border: none;
     padding-left: 10px;
}

#atuiHeaderBarCenter div input:active
{
     background-color: transparent;
     border : none;
}

#atuiHeaderBarCenter div img
{
     float : right;
     height : 30px;
}

     /* Bloc droit */

#atuiHeaderBarRight
{
     height : 50px;
     padding-right: 10px;
     order: 3;
}

#atuiHeaderBarRight > *
{
     float: right;
}

/* Mode d'application visuel */

#atuiSettingsModeVisuel img
{
     display : none;
}

/* Gestion compte */

#atuiSettingsAccount aside
{
     top : 65px;
     right : 15px;
}

/* Illustration */

body > header
{
     background-color : var(--atuiDefaultColor);
     background-image : url(medias/illustrations/presentation.jpg);
     height : 70vh;
     background-size : cover;
     background-position : center;
}

body > header article > *
{
     width : 90%;
     color : white;
     display : flex;
     justify-content : center;
     text-align : center;
     margin-left : 5%;
}

body > header article h2
{
     font-family: "Red Hat Display";
}

body > header article button
{
     border : none;
     background-color : var(--atuiDefaultColorTransparent);
     font-size : 21px;
     padding : 10px;
     color : white;
     width : 200px;
     font-family : "Red Hat Display";
     border-radius: 10px;
}

/* Navigateur */

     /* Floating Left */

#atuiNavStyleFloatingLeft
{
     margin : 0px;
     display: block;
}

#atuiNavStyleFloatingLeft > img
{
     float: left;
}

#atuiNavStyleFloatingLeft aside
{
     top : 65px;
     left : 15px;
}

     /* Independant */

body > nav
{
     display : inline-flex;
     width : 100%;
     justify-content: space-around;
     flex-wrap: wrap;
     margin : 10px;
}

body > nav a
{
     color : black;
     text-decoration : none;
}

body > nav a img
{
     width : 100px;
}

body > nav a p
{
     text-align : center;
     margin : 0px;
}

/* Contenu */

section
{
     margin : 15px 5%;
}

     /* Cartes */

.atuiCardsContainer
{
     display: flex;
     flex-wrap : wrap;
     justify-content: space-around;
}

          /* Cards style presentation */

/* .atuiCardsPresentation
{
     border : 3px solid silver;
} */

.atuiCardsPresentation img
{
     width : 100%;
     border-radius : 10px;
}

.atuiCardsPresentation div
{
     margin: 5px;
}

.atuiCardsPresentation div h3
{
     font-family: "Red Hat Display";
     margin : 5px 0px;
     font-size: 20px;
}

.atuiCardsPresentation div p
{
     margin : 5px 0px;
     font-size: 16px;
}

.atuiCardsPresentation div a
{
     margin : 5px 0px;
     color : var(--atuiDefaultColor);
     font-weight: bold;
     font-size : 16px;
     text-decoration : none;
     font-family : "Red Hat Display";
}

.atuiCardsPresentation div a:after
{
     content : " >";
}

.atuiCardsPresentation div a:hover
{
     text-decoration : underline;
}

     /* Paragraphes */

.atuiTextContainer h3
{
     font-weight: bold;
     font-size : 20px;
     color : var(--atuiDefaultColor);
     font-family: "Red Hat Display";
}

.atuiTextContainer p
{
     font-size : 16px;
}

.atuiTextContainer a
{
     color : var(--atuiDefaultColor);
}

.atuiTextContainer a:hover
{
     font-weight: bold;
}

.atuiTextContainer img
{
     margin : 0px 20%;
     width: 60%;
     border-radius: 10px;
}

     /* Captions */

.atuiCaption
{
     text-align: center;
     color: #333333;
     margin : 5px;
}

/* Pied de page */

body > footer
{
     background-color : #c0c0c0;
     border-top : 3px solid var(--atuiDefaultColor);
     margin-top : 50px;
     padding: 5px;
     padding-top : 0px;
}

body > footer > a img
{
     width : 50px;
     border-radius : 100%;
     border : 3px solid var(--atuiDefaultColor);
     background-color: white;
     position: absolute;
     left : 50%;
     transform : translate(-50%, -30px);
}

/* Contacts */

#atuiContacts
{
     margin : 10px;
}

#atuiContacts > p
{
     font-family: "Red Hat Display";
     font-weight: bold;
}

#atuiContacts a
{
     margin-right : 5px;
}

#atuiContacts a img
{
     height : 50px;
}

/* Explorateur footer */

#atuiExploreFooter
{
     display : flex;
     justify-content: space-around;
     flex-wrap : wrap;
     margin-top : 20px;
}

#atuiExploreFooter div p
{
     font-weight: bold;
     font-size : 18px;
     margin : 15px 0px;
     font-family: "Red Hat Display";
}

#atuiExploreFooter div li
{
     list-style: none;
     margin : 8px;
     margin-left : 15px;
     font-size : 16px;
}

#atuiExploreFooter div li a
{
     color : black;
     text-decoration: none;
}

#atuiExploreFooter div li a:hover
{
     text-decoration : underline;
}

footer select
{
     border : 2px black solid;
     background-color: white;
     padding : 5px;
     width : 100px;
     height : 40px;
     border-radius: 10px;
}

/* Plug-in */

#atuiPlugin
{
     background-color: var(--atuiDefaultColor);
     display : flex;
     justify-content: space-around;
     margin : 30px -5px -5px -5px;
}

#atuiPlugin *
{
     color : white;
     margin : 10px;
}

/* Boot */

#atuiBoot
{
     position: fixed;
     width : 100%;
     height : 100%;
     background-color: rgb(255, 255, 255);
     top : 0px;
     display: none;
}

#atuiBoot article
{
     border-radius: 20px;
     border : 1px solid rdb(0,0,0);
}

#atuiBoot article header, #atuiBoot article footer
{
     margin : 20px;
}

#atuiBoot article section
{
     margin : 30px;
}

#atuiBoot article footer button
{
     padding : 10px;
     margin : 5px;
     border : none;
     border-radius : 10px;
     font-size : 16px;
}