/* Global */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body
{
     margin : 0px;
}

body *
{
     font-family: 'Montserrat', Arial;
}

/* Responsives et importations */

@media (min-width : 650px) /* Ordi */
{
     header
     {
          height : 30vh;
     }
     section
     {
          display: inline-flex;
     }

     section article
     {
          width : 40%;
	     margin : 5px;
     }
}

/* Barre d'en tête */

header
{
     background-color : #bfbfbf;
     background-image : url(medias/atuiPresentation1.jpg);
     height : 50vh;
     background-size : cover;
     background-position : center;
}

header aside
{
     background-color : rgba(255,255,255,0.7);
     height : 50px;
}

img[alt="Icone du site"]
{
     float: left;
     height : 50px;
}

header aside > a
{
     margin : 0px;
     margin-top : 4px;
     transform: translateX(20px);
     color : black;
     text-decoration : none;
     font-size : 30px;
     font-weight : bold;
     display : inline-block;
     font-family : "Red Hat Display";
}

/* Barre d'option profil */

#atuiSettings
{
     float : right;
     margin : 5px;
}

#atuiSettingsModeVisuel
{
     display: inline-flex;
}

#atuiSettingsModeVisuel img
{
     margin : 5px;
     display : none;
     transform : translateY(-5px);
}

#atuiProfilSettings:before
{
     content : '▲';
     position : absolute;
     color : white;
     font-size : 20px;
     top : -20px;
     right : 7px;
}

#atuiProfilSettings
{
     position : fixed;
     top : 55px;
     right : 3px;
     width : 200px;
     background-color : white;
     border-radius : 10px;
     padding : 5px;
     display : none;
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#atuiProfilSettings a
{
     margin : 5px;
     display : block;
     color : black;
     text-decoration : none;
}

#atuiProfilSettings img
{
     float : left;
     margin : 5px;
     height : 21px;
}

#atuiProfilSettings hr
{
     border : 1px silver solid;
     margin : 0px 15px;
}

/* Illustration */

header article > *
{
     width : 90%;
     color : white;
     display : flex;
     justify-content : center;
     text-align : center;
     margin-left : 5%;
}

header article h2
{
     font-family: "Red Hat Display";
}

header article button
{
     border : none;
     background-color : rgba(255,0,0,0.7);
     font-size : 21px;
     padding : 10px;
     color : white;
     width : 200px;
     font-family : "Red Hat Display";
}

/* Navigateur */

nav
{
     display : flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin : 5px;
}

nav a
{
     color : black;
     text-decoration : none;
}

nav a img
{
     width : 100px;
}

nav a p
{
     text-align : center;
     margin : 0px;
     margin-top : -10px;
}

/* Contenu */

section
{
     margin : 20px;
     margin-top : 30px;
     flex-wrap : wrap;
     justify-content: space-around;
}

section article
{
     margin-bottom : 30px;
}

section article img
{
     width : 100%;
     border-radius : 10px;
}

section article h3
{
     margin : 0px;
     margin-top : 5px;
     font-family: "Red Hat Display";
}

section article p, section article a
{
     margin : 5px 0px;
}

section article a
{
     color : red;
     font-weight: bold;
     font-size : 16px;
     text-decoration : none;
     font-family : "Red Hat Display";
}

section article a:after
{
     content : " >";
}

section article a:hover
{
     text-decoration : underline;
}

/* Pied de page */

footer
{
     background-color : #c0c0c0;
     border-top : 3px solid red;
     margin-top : 40px;
     padding: 5px;
     padding-top : 0px;
}

footer > a img
{
     width : 50px;
     border-radius : 100%;
     border : 3px solid red;
     background-color: white;
     position: absolute;
     left : 50%;
     transform : translate(-50%, -30px);
}

/* Contacts */

#atuiContacts
{
     margin : 10px;
}

#atuiContacts > p
{
     font-family: "Red Hat Display";
     font-weight: bold;
}

#atuiContacts a
{
     margin-right : 5px;
}

#atuiContacts a img
{
     height : 50px;
}

/* Explorateur footer */

#atuiExploreFooter
{
     display : flex;
     justify-content: space-around;
     flex-wrap : wrap;
     margin-top : 20px;
}

#atuiExploreFooter div p
{
     font-weight: bold;
     font-size : 18px;
     margin : 15px 0px;
     font-family: "Red Hat Display";
}

#atuiExploreFooter div li
{
     list-style: none;
     margin : 8px;
     margin-left : 15px;
     font-size : 16px;
}

#atuiExploreFooter div li a
{
     color : black;
     text-decoration: none;
}

footer select
{
     border : 2px black solid;
     background-color: white;
     padding : 5px;
     width : 100px;
     height : 40px;
     border-radius: 10px;
}

/* Plug-in */

#atuiPlugin
{
     background-color: red;
     display : flex;
     justify-content: space-around;
     margin : 30px -5px -5px -5px;
}

#atuiPlugin *
{
     color : white;
     margin : 10px;
}