/* Global */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body *
{
     font-family: Ubuntu, Arial;
}

img
{
     overflow: hidden;
}

@keyframes chargement
{
     0%
     {
          height : 0px;
     }
     
     100%
     {
          height : 20px;
     }
}

/* En-tête */

aside
{
     background-image: url("noyauBackground.webp"), url("noyauBackground.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size : cover;
     background-position: center;

     margin : -8px -8px 0px -8px;
     height : 400px;
}

aside > div
{
     background-color: red;
     animation : linear chargement 1s;
     overflow : hidden;
     transition-duration: 1s;
     transition-property: height;
}

aside > div p
{
     color : white;
     text-align : center;
     margin : 5px;
}

header
{
     background-color : #FFF7;
}

body > div
{
     background : linear-gradient(transparent, white);
     margin : 0px -8px;
     transform: translateY(-40px);
     height : 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > div button
{
     padding : 10px;
     border-radius : 5px;
     width : 300px;
     margin : 5px;
     background : linear-gradient(to right, blue, green);
     font-size : 20px;
     transform: translateY(20px);
     border : none;
}

body > div a button
{
     color : white;
     text-decoration: none;
}

/* Stylisation de l'en-tête */

header *
{
     color : black;
}

img[alt="Icone du site"]
{
     float: left;
}

@media (min-width : 1280px) /* Ordinateur */
{
     img[alt="Icone du site"]
     {
          width : 80px;
          height : 80px;
     }
}

@media (max-width : 1280px) /* Mobile */
{
     img[alt="Icone du site"]
     {
          width : 50px;
          height : 50px;
     }
}

header h1
{
     margin : 0px;
     transform : translate(11px, 11px);
     width: min-content;
     white-space : nowrap;
     display : inline-flex;
}

#noyauSettings
{
     float : right;
     margin : 5px;
}

#noyauSettings img[alt="mode jour"], #noyauSettings img[alt="mode nuit"] 
{
     width : 30px;
     height : 30px;
     margin : 5px;
}

nav
{
     width : 100%;
     overflow: hidden;
     display: flex;
}

nav p
{
     margin : 5px 10px;
     display : flex;
}

nav p:after
{
     content : url("https://img.icons8.com/android/10/expand-arrow.png");
     margin-left : 5px;
}

/* Stylisation de l'illustration */

aside article
{
     color : white;
     text-align: center;     
     transform : translateY(40px);
}

aside article button
{
     border : none;
     background-color : #FF000070;
     font-size : 20px;
     padding : 10px;
     
     width : 200px;
     margin-left : auto;
     margin-right : auto;
}

aside article a button
{
     color : white;
     text-decoration : none;
}

/* Stylisation du contenu */

section article
{
	width : 100%;
}

section article h3
{
     display : inline-block;
     margin : 0px;
     transform : translateY(-13px);
}

.cartesFixes
{
     background-color: silver;
     border : 2px gray solid;
     border-radius : 10px;
     margin : 10px;
     padding : 10px;
}

.cartesDefilantesRect, .cartesDefilantesCarre
{
	display: inline-flex;
	width : 100%;
	overflow-y: scroll;
	position : relative;
}

.cartesDefilantesRect div, .cartesDefilantesCarre div
{
	border-radius: 20px;
	width : 200px;
	height : 120px;
	margin : 10px;
	background-color: #FF000050;
}

.cartesDefilantesCarre div
{
	width : 120px;
	height : 120px;
	position : relative;
}

.cartesDefilantesRect div p
{
	width: inherit;
	height: inherit;
	font-size : 30px;
	text-align: center;
	font-weight: bold;
	margin : 0px;
	position: absolute;
}

.cartesDefilantesRect div img
{
	border-radius : 20px;
}

/* Stylisation du pied de page */

footer
{
     background-color : #c0c0c0;
     border-top : 3px solid red;
     margin : 10px -8px -10px -8px;
     
     padding-top : 20px;
}

footer img
{
     width : 50px;
     height : 50px;
     border-radius : 100%;
     border : 2px solid red;
     background-color: white;
     position : absolute;

}

footer div
{
     display : flex;
     justify-content: flex-end;
}

footer select
{
     border : 2px black solid;
     background-color: white;
     padding : 5px;
     width : 100px;
     height : 40px;
}

footer div a
{
     text-align: right;
     margin : 10px;
     
     color : black;
     text-decoration: none;
}

footer h5
{
     margin-right : 30px;
     padding-bottom : 10px;
     text-align: right;
}