/* Global */

#atuiSearchservices_Header
{
     background-color: transparent;
     border-radius : var(--atuiKernel_Borderradius);
     display: flex;
     justify-content: center;
     flex-direction: column;
     top : 5px;
}

#atuiSearchservices_Header > div
{
     border-radius : var(--atuiKernel_Borderradius);
     width : 100%;
     height : 40px;
     overflow: hidden;
}

#atuiSearchservices_Header > div form input
{
     outline : none;
     background-color: transparent;
     border-radius : var(--atuiKernel_Borderradius);
     border : none !important;
     font-size: 1.5rem;
     padding : 5px;
     width : calc(100% - 60px);
     height: 30px;
     border: none;
     padding-left: 10px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     color : rgb(128, 128, 128);
}

#atuiSearchservices_Header > div form input:active
{
     background-color: transparent;
     border : none;
}

#atuiSearchservices_Header > div form button
{
     height : 40px;
     width : 40px;
     padding : 0;
     background-color: transparent;
     border: none;
     float : right;
}

#atuiSearchservices_Header > div form button img
{
     height : 30px;
     width : 30px;
}


/* Responsives */

@media (min-width : 768px) /* Computers */
{
     #atuiSearchservices_Header > div
     {
          background-color: var(--atuiKernel_ToolsSettingsDisplaymodeColor);
          backdrop-filter: var(--atuiKernel_Blur);
     }

     #atuiSearchservices_Header > div input
     {
          display: inline;
     }
}

@media (max-width : 767px) /* Smartphones */
{
     #atuiSearchservices_Header > div input
     {
          display : none;
     }
}

