/* Global */

#atuiSearchservices_HeaderBar /* Searchbar container */
{
     border-radius : var(--atuiKernel_Borderradius);
     width : 100%;
     height : 40px;
     overflow: hidden;
}

#atuiSearchservices_HeaderBar > form /* HTML form */
{
     display : flex;
     align-items: center;
}

#atuiSearchservices_Input /* Searchbar */
{
     background-color: transparent;
     border-radius : var(--atuiKernel_Borderradius);
     font-size: 1.5rem;
     padding : 5px 5px 5px 10px; /* Obligatoire au lieu de margin car erreur visuel sur mobile quand élément développé */
     height: 30px;
     flex : 1;
     border : none;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     outline : none;
     color : var(--atuiKernel_ColorschemeOB5);
}

#atuiSearchservices_Submit /* Submit image */
{
     margin : 5px 10px 5px 5px;
     height : 30px;
     width : 30px;
}


/* Responsives */

@media (min-width : 768px) /* Computers */
{
     #atuiSearchservices_HeaderBar /* Searchbar container */
     {
          background-color: var(--atuiKernel_ColorschemeOB0);
          backdrop-filter: var(--atuiKernel_Blur);
     }

     #atuiSearchservices_Input /* Searchbar */
     {
          display: inline;
     }
}

@media (max-width : 767px) /* Smartphones */
{
     #atuiSearchservices_Input /* Searchbar */
     {
          display : none;
     }
}

@media (min-width : 768px) and (max-width : 801px) /* Correctif visuel seulement quand il y a searchbar en block center */
{
     #atuiKernel_HeaderBlockCenter
     {
          order : 3 !important;
     }

     #atuiKernel_HeaderBlockRight
     {
          order : 2 !important;
     }
}

