/* Global */

.atuiKernel_Button,
.atuiKernel_ButtonPrimary,
.atuiKernel_ButtonPrimaryDisabled,
.atuiKernel_ButtonSecondary,
.atuiKernel_ButtonSecondaryDisabled,
.atuiKernel_ButtonTertiary,
.atuiKernel_ButtonTertiaryDisabled
{
     margin : 10px;
     padding : 10px 20px;
     font-family : var(--atuiKernel_FontsTitle);
     width : fit-content;
     display : inline-flex;
     align-items: center;
     flex-direction: row;
     cursor : pointer;
}

.atuiKernel_Button *,
.atuiKernel_ButtonPrimary *,
.atuiKernel_ButtonPrimaryDisabled *,
.atuiKernel_ButtonSecondary *,
.atuiKernel_ButtonSecondaryDisabled *,
.atuiKernel_ButtonTertiary *,
.atuiKernel_ButtonTertiaryDisabled *
{
     margin : 0;
     color : black;
}


/* Images option */

.atuiKernel_Button img,
.atuiKernel_ButtonPrimary img,
.atuiKernel_ButtonPrimaryDisabled img,
.atuiKernel_ButtonSecondary img,
.atuiKernel_ButtonSecondaryDisabled img,
.atuiKernel_ButtonTertiary img,
.atuiKernel_ButtonTertiaryDisabled img
{
     width : 19px;
     height : 19px;
}

.atuiKernel_Button img + *,
.atuiKernel_ButtonPrimary img + *,
.atuiKernel_ButtonPrimaryDisabled img + *,
.atuiKernel_ButtonSecondary img + *,
.atuiKernel_ButtonSecondaryDisabled img + *,
.atuiKernel_ButtonTertiary img + *,
.atuiKernel_ButtonTertiaryDisabled img + *,
.atuiKernel_Button * + img,
.atuiKernel_ButtonPrimary * + img,
.atuiKernel_ButtonPrimaryDisabled * + img,
.atuiKernel_ButtonSecondary * + img,
.atuiKernel_ButtonSecondaryDisabled * + img,
.atuiKernel_ButtonTertiary * + img,
.atuiKernel_ButtonTertiaryDisabled * + img
/* With an image */
{
     margin-left : 10px;
}


/* Hover reaction */

.atuiKernel_ButtonPrimary:hover,
.atuiKernel_ButtonSecondary:hover,
.atuiKernel_ButtonTertiary:hover
{
     filter : brightness(0.90);
     font-weight: bold;
     text-decoration: none;
}


/* Active reaction */

.atuiKernel_ButtonPrimary:active,
.atuiKernel_ButtonSecondary:active,
.atuiKernel_ButtonTertiary:active
{
     filter : brightness(0.80);
}


/* Disabled mode */

.atuiKernel_ButtonPrimaryDisabled,
.atuiKernel_ButtonSecondaryDisabled,
.atuiKernel_ButtonTertiaryDisabled
{
     opacity : 0.5;
}


/* Default */

.atuiKernel_Button
{
     background-color : var(--atuiKernel_ColorschemeOA3);
     border-radius : var(--atuiKernel_Borderradius);
}


/* Primary */

.atuiKernel_ButtonPrimary,
.atuiKernel_ButtonPrimaryDisabled
{
     background-color : var(--atuiKernel_ColorschemeOA4);
     border-radius : var(--atuiKernel_Borderradius);
}


/* Secondary */

.atuiKernel_ButtonSecondary,
.atuiKernel_ButtonSecondaryDisabled
{
     border : 2px var(--atuiKernel_ColorschemeOA4) solid;
     border-radius : var(--atuiKernel_Borderradius);
}

.atuiKernel_ButtonSecondary *,
.atuiKernel_ButtonSecondaryDisabled *
{
     color : var(--atuiKernel_ColorschemeOA4);
}


/* Tertiary */

.atuiKernel_ButtonTertiary *,
.atuiKernel_ButtonTertiaryDisabled *
{
     color : var(--atuiKernel_ColorschemeOA4);
}

