/* Global */

.atuiKernel_Button,
.atuiKernel_ButtonPrimary,
.atuiKernel_ButtonPrimaryDisabled,
.atuiKernel_ButtonSecondary,
.atuiKernel_ButtonSecondaryDisabled,
.atuiKernel_ButtonTertiary,
.atuiKernel_ButtonTertiaryDisabled {
    margin: 10px;
    padding: 10px 20px;
    font-family: var(--atuiKernel_FontsTitle);
    width: fit-content;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.atuiKernel_Button *,
.atuiKernel_ButtonPrimary *,
.atuiKernel_ButtonPrimaryDisabled *,
.atuiKernel_ButtonSecondary *,
.atuiKernel_ButtonSecondaryDisabled *,
.atuiKernel_ButtonTertiary *,
.atuiKernel_ButtonTertiaryDisabled * {
    margin: 0;
    color: black;
}

/* Images option */

.atuiKernel_Button img,
.atuiKernel_ButtonPrimary img,
.atuiKernel_ButtonPrimaryDisabled img,
.atuiKernel_ButtonSecondary img,
.atuiKernel_ButtonSecondaryDisabled img,
.atuiKernel_ButtonTertiary img,
.atuiKernel_ButtonTertiaryDisabled img {
    width: 19px;
    height: 19px;
}

.atuiKernel_Button img + *,
.atuiKernel_ButtonPrimary img + *,
.atuiKernel_ButtonPrimaryDisabled img + *,
.atuiKernel_ButtonSecondary img + *,
.atuiKernel_ButtonSecondaryDisabled img + *,
.atuiKernel_ButtonTertiary img + *,
.atuiKernel_ButtonTertiaryDisabled img + *,
.atuiKernel_Button * + img,
.atuiKernel_ButtonPrimary * + img,
.atuiKernel_ButtonPrimaryDisabled * + img,
.atuiKernel_ButtonSecondary * + img,
.atuiKernel_ButtonSecondaryDisabled * + img,
.atuiKernel_ButtonTertiary * + img,
.atuiKernel_ButtonTertiaryDisabled * + img
/* With an image */ {
    margin-left: 10px;
}

/* Hover reaction */

.atuiKernel_ButtonPrimary:hover,
.atuiKernel_ButtonSecondary:hover,
.atuiKernel_ButtonTertiary:hover {
    font-weight: bold;
    text-decoration: none;
}

.atuiKernel_ButtonPrimaryDisabled:hover,
.atuiKernel_ButtonSecondaryDisabled:hover,
.atuiKernel_ButtonTertiaryDisabled:hover {
    font-weight: normal;
}

/* Disabled mode */

.atuiKernel_ButtonPrimaryDisabled,
.atuiKernel_ButtonSecondaryDisabled,
.atuiKernel_ButtonTertiaryDisabled {
    opacity: 0.5;
}

/* Default */

.atuiKernel_Button {
    background-color: var(--atuiKernel_ColorschemeOA3);
    border-radius: var(--atuiKernel_Borderradius);
}

.atuiKernel_Button * {
    color: var(--atuiKernel_ColorschemeOBF);
}

/* Primary */

.atuiKernel_ButtonPrimary,
.atuiKernel_ButtonPrimaryDisabled {
    background-color: var(--atuiKernel_ColorschemeOA4);
    border-radius: var(--atuiKernel_Borderradius);
}

.atuiKernel_ButtonPrimary *,
.atuiKernel_ButtonPrimaryDisabled * {
    color: var(--atuiKernel_ColorschemeOBF);
}

.atuiKernel_ButtonPrimary:hover {
    background-color: var(--atuiKernel_ColorschemeOA5);
}

.atuiKernel_ButtonPrimary:active {
    background-color: var(--atuiKernel_ColorschemeOA6);
}

/* Secondary */

.atuiKernel_ButtonSecondary,
.atuiKernel_ButtonSecondaryDisabled {
    border: 2px var(--atuiKernel_ColorschemeOA4) solid;
    border-radius: var(--atuiKernel_Borderradius);
}

.atuiKernel_ButtonSecondary *,
.atuiKernel_ButtonSecondaryDisabled * {
    color: var(--atuiKernel_ColorschemeOA4);
}

.atuiKernel_ButtonSecondary:hover {
    border: 2px var(--atuiKernel_ColorschemeOA5) solid;
}

.atuiKernel_ButtonSecondary *:hover {
    color: var(--atuiKernel_ColorschemeOA5);
}

.atuiKernel_ButtonSecondary:active {
    border: 2px var(--atuiKernel_ColorschemeOA6) solid;
}

.atuiKernel_ButtonSecondary *:active {
    color: var(--atuiKernel_ColorschemeOA6);
}

/* Tertiary */

.atuiKernel_ButtonTertiary *,
.atuiKernel_ButtonTertiaryDisabled * {
    color: var(--atuiKernel_ColorschemeOA4);
}

.atuiKernel_ButtonTertiary *:hover {
    color: var(--atuiKernel_ColorschemeOA5);
}

.atuiKernel_ButtonTertiary *:active {
    color: var(--atuiKernel_ColorschemeOA6);
}
