/* Global */

.atuiKernel_ToolsCarousel
{
     background-size : cover;
     background-position : center;
     display: flex;
     align-items: flex-end;
     justify-content: center;
     background-attachment: fixed; /* Créé option pour cette propriété / Peut créer bogue sur mobile car changement window height */
}

.atuiKernel_ToolsCarousel > div
{
     width : 100%;
     padding : 50px 10%;
     background : linear-gradient(to top, rgb(51, 51, 51),transparent);
}

.atuiKernel_ToolsCarousel div *
{
     color : white;
     text-align : center;
     margin : 0;
     padding: 10px;
}

.atuiKernel_ToolsCarousel div h2
{
     font-family: var(--atuiKernel_FontsTitle);
     font-size: 1.5rem;
}

.atuiKernel_ToolsCarousel div p
{
     font-size : 1.1rem;
}

.atuiKernel_ToolsCarousel div a
{
     border : none;
     background-color : var(--atuiKernel_ToolsSettingsAccentcolorOpacity);
     font-size : 1.3rem;
     padding : 10px 20px;
     color : white;
     width : 200px;
     font-family : var(--atuiKernel_FontsTitle);
     border-radius: 10px;
}

