/* Global */

body > footer
{
     position: relative;
}

#atuiKernel_FooterStandard
{
     margin : 50px 5% 0 5%;
     padding : 20px 0;
}

#atuiKernel_FooterIntegral
{
     background-color : var(--atuiKernel_ColorschemeOB1);
     border-top : 3px solid var(--atuiKernel_ColorschemeOA6);
     margin-top : 50px;
     padding: 20px 40px 5px 40px;
}

#atuiKernel_FooterFloating
{
     background-color : var(--atuiKernel_ColorschemeOA1);
     box-shadow: var(--atuiKernel_Shadow);
     border-radius: var(--atuiKernel_Borderradius);
     margin : 50px 5%;
     padding: 20px 40px;
}


/* Scroll Top */

#atuiKernel_FooterScrolltop
{
     display: flex;
     justify-content: center;
     position: absolute;
     top : -30px;
     left : 0;
     right : 0;
}

#atuiKernel_FooterScrolltop a
{
     border-radius : 100%;
     border : 3px solid var(--atuiKernel_ColorschemeOA6);
     background-color: var(--atuiKernel_ColorschemeOA1);
     padding : 2.5px;
     box-sizing: border-box;
     width: 60px;
     height: 60px;
}

#atuiKernel_FooterScrolltop a img
{
     width : 50px;
     height : 50px;
}


/* Explorer */

#atuiKernel_ToolsExplorer /* Container */
{
     display : flex;
     justify-content: space-around;
     flex-wrap : wrap;
     margin : 20px 0;
}

#atuiKernel_ToolsExplorer div /* Categorie */
{
     margin : 10px 20px;
}

#atuiKernel_ToolsExplorer div p /* Title */
{
     font-weight: bold;
     font-size : 1.2rem;
     font-family: var(--atuiKernel_FontsTitle);
     margin : 10px 0;
}

#atuiKernel_ToolsExplorer div ul /* List of elements */
{
     list-style: none;
     font-size : 1.1rem;
     margin : 10px 0;
     padding-left : 0;
}

#atuiKernel_ToolsExplorer div ul li /* Elements */
{
     margin : 5px 0;
}

#atuiKernel_ToolsExplorer div ul li a /* Links of elements */
{
     color : var(--atuiKernel_ColorschemeOBF);
}

#atuiKernel_ToolsExplorer div ul li a:hover
/* Links of elements */
{
     font-weight: normal;
     text-decoration: underline;
}


/* Legals */

#atuiKernel_FooterLegals
{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin : 20px 0;
}

#atuiKernel_FooterLegals *
{
     color : var(--atuiKernel_ColorschemeOB7);
     margin : 5px 20px;
}

#atuiKernel_FooterLegals *:hover
/* Links of elements */
{
     font-weight: normal;
     text-decoration: underline;
}


/* Info */

#atuiKernel_FooterInfo
{
     display: block;
     text-align : center;
     margin : 20px 0;
}

#atuiKernel_FooterInfo *
{
     display: block;
     font-size : 1.1rem;
     color : var(--atuiKernel_ColorschemeOA6);
     margin : 10px;
}

