/* Global */

.atuiKernel_SectionImage
{
     padding : 10px;
}

.atuiKernel_SectionImage img
{
     border-radius: 10px;
}
     
.atuiKernel_SectionImage p
{
     text-align: center;
     color: #333333;
     margin : 5px;
     font-size: 1rem;
}


/* Responsives */

@media (min-width : 768px) /* Computers */
{
     .atuiKernel_SectionImage img
     {
          margin : 0 10%;
          width: 80%;
     }
}

@media (max-width : 767px) /* Smartphones */
{
     .atuiKernel_SectionImage img
     {
          margin : 0;
          width: 100%;
     }
}

