@import url('./button.css');
@import url('./cards.css');
@import url('./carousel.css');
@import url('./contacts.css');
@import url('./contextmenu.css');
@import url('./download.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./image.css');
@import url('./input.css');
@import url('./navigator.css');
@import url('./notification.css');
@import url('./paragraph.css');
@import url('./settings.css');
@import url('./tabs.css');

@font-face {
     font-family: 'Montserrat';
     src: url('../../patch/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
     font-family: 'Red Hat Display';
     src: url('../../patch/fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf');
}


/* Global */

:root
{
     font-size : 16px;
     --atuiKernel_FontsTitle : 'Red Hat Display','Montserrat',Arial;
     --atuiKernel_FontsText : 'Montserrat',Arial;
     --atuiKernel_FontsSpecial : 'Lobster','Montserrat',Arial;
     --atuiKernel_Shadow : rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
     --atuiKernel_Blur : blur(5px);
     --atuiKernel_Borderradius : 10px;
}

body
{
     margin : 0;
     background : var(--atuiKernel_ColorschemeOB0);
}

body *
{
     font-family: var(--atuiKernel_FontsText);
     color : var(--atuiKernel_ColorschemeOBF);
}


/* Default props of balises */

a
{
     text-decoration: none;
     color: var(--atuiKernel_ColorschemeOA5);
}

a:hover, a:active
{
     font-weight: bold;
}


/* Section */

body > section
{
     margin : 15px 5%;
}

