/* Metadata : 
Auteur (github) : alcapitan
Nom du module : Kernel ATUI
Version : dev2
*/

/* Contents :
- Kernel
     - Priority
          - atuiBoot / boot => atuiKernel_PriorityBrowserCompatibility / Browser Compatibility
          - X / root  => X / Global StyleSheets
          - atuiPlugin => atuiKernel_PriorityLabel / Label
     - Responsives
          - Ordinateur > min-width 768px
          - Mobile > max-width 767px
     - Tools
          - atuiSelector / Sélecteurs => atuiKernel_ToolsSelector / Selector
          - atuiSelectorSeparator / X => atuiKernel_ToolsSelectorSeparator / Selector Separator
          - atuiSettingsModeVisuel / Mode d'application visuel => atuiKernel_ToolsSettingsDisplaymode / Settings > Display Mode
          - atuiContacts / Contacts => atuiKernel_ToolsContact / Contact
          - atuiExploreFooter / Explorateur footer => atuiKernel_ToolsExplorer / Explorer
          - atuiIllustration / Illustration => atuiKernel_ToolsCarousel / Carousel
     - Header
          - header//atuiHeader / Barre d'en tête => atuiKernel_Header / Header
          - atuiHeaderBarLeft / Bloc gauche => atuiKernel_HeaderBlockLeft / Left block
          - atuiHeaderBarCenter / Bloc centre => atuiKernel_HeaderBlockCenter / Center block
          - atuiHeaderBarRight / Bloc droit => atuiKernel_HeaderBlockRight / Right block
     - Navigator
          - atuiNavStyleFloatingLeft / Floating Left => atuiKernel_NavigatorStyleFloatleft / Float Left
          - X / Independanr => atuiKernel_NavigatorStyleRow / Row
     - Section
          - atuiTextContainer / Paragraphes => atuiKernel_SectionText / Paragraph
          - atuiTextContainer img && atuiCaption / X && Caption => atuiKernel_SectionImage / Image
          - atuiFileDownload / Télécharger un fichier => atuiKernel_SectionDownload / Download
          - atuiKernel_SectionCard
               - atuiCardsPresentation / Cards style presentation => atuiKernel_SectionCardStylePurified / Purified
     - Footer
          - [style]

- LanguagesManager
     - atuiLanguagesManager_LanguageSelector
- MediasPlayer
     - atuiMediasPlayerAudio
          - X / atuiAudioPlayer => Audio > Player / atuiMediasPlayer_AudioPlayer
          - X / atuiAudioPlayerManager => Audio > Additionals Informations / atuiMediasPlayer_AudioPlayerAdditionals
          - X / atuiAudioPlayerInfosMusic => Audio > Music Informations / atuiMediasPlayer_AudioPlayerMusicinformations
          - X / atuiAudioPlayerControls => Audio > Audio Controls / atuiMediasPlayer_AudioPlayerControls
          - X / atuiAudioPlayerControlsTimer => Audio > Timer / atuiMediasPlayer_AudioPlayerTimer
          - X / atuiAudioPlayerControlsButtonsBasic => Audio > Basic Buttons / atuiMediasPlayer_AudioPlayerButtonsBasic
          - X / atuiAudioPlayerControlsButtonsAdvanced => Audio > Advanced Buttons / atuiMediasPlayer_AudioPlayerButtonsAdvanced
          - X / progressBarControl => Audio > Progress Bar / atuiMediasPlayer_AudioPlayerProgressbar
     - atuiMediasPlayerVideo
          - [actions]
- SearchService
- ServerExchanges
     - atuiSettingsAccount / Gestion compte => atuiServerExchanges_AccountActions / Actions sur le compte 

*/

/* Priority */

     /* Boot */

#atuiKernel_PriorityBrowserCompatibility
{
     position: fixed;
     width : 100%;
     height : 100%;
     background-color: rgb(255, 255, 255);
     top : 0px;
     display: none;
}

#atuiKernel_PriorityBrowserCompatibility article
{
     border-radius: 20px;
     border : 1px solid rdb(0,0,0);
}

#atuiKernel_PriorityBrowserCompatibility article header, #atuiKernel_PriorityBrowserCompatibility article footer
{
     margin : 20px;
}

#atuiKernel_PriorityBrowserCompatibility article section
{
     margin : 30px;
}

#atuiKernel_PriorityBrowserCompatibility article footer button
{
     padding : 10px;
     margin : 5px;
     border : none;
     border-radius : 10px;
     font-size : 1rem;
}

     /* Root */

body
{
     margin : 0px;
}

body *
{
     font-family: 'Montserrat',Arial;
     max-width: 100%;
}

:root
{
	--atuiDefaultColor : rgb(230, 0, 0);
     --atuiDefaultColorTransparent : rgb(230, 0, 0, 0.6);
     font-size : 16px;
}

a
{
     text-decoration: none;
     color: var(--atuiDefaultColor);
}

a:hover, a:active
{
     font-weight: bold;
     text-decoration: underline;
}

     /* Plug-in */

#atuiKernel_PriorityLabel
{
     text-align : center;
     margin : 10px;
     margin-top : 20px;
}

#atuiKernel_PriorityLabel *
{
     color : var(--atuiDefaultColor);
     font-size : 1rem;
}

/* Responsives */

@media (min-width : 768px) /* Computers */
{
     .atuiCardsContainer
     {
          display: inline-flex;
     }

     .atuiKernel_SectionCardStylePurified
     {
          width : 300px;
     }

     #atuiKernel_HeaderBlockCenter
     {
          flex : 3;
     }

     #atuiKernel_HeaderBlockCenter div
     {
          background-color: rgb(242, 242, 242, 0.8);
          backdrop-filter: blur(10px);
     }

     #atuiKernel_HeaderBlockCenter div input
     {
          display: inline;
     }

     #atuiKernel_HeaderBlockRight
     {
          flex : 1;
     }

     #atuiKernel_Header > .atuiKernel_ToolsCarousel
     {
          padding-top : 100px;
     }
}

@media (max-width : 767px) /* Smartphones */
{
     #atuiKernel_HeaderBlockCenter div input
     {
          display : none;
     }

}

/* Tools */

     /* Selector */

.atuiKernel_ToolsSelector
{
     position : absolute;
     width : 280px;
     display : none;
     background-color: rgba(255,255,255,0.8);
     backdrop-filter: blur(10px);
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.atuiKernel_ToolsSelector a
{
     display : block;
}

.atuiKernel_ToolsSelector a:first-child
{
     margin-top : 10px;
}

.atuiKernel_ToolsSelector a:last-child
{
     margin-bottom : 10px;
}

.atuiKernel_ToolsSelector a div:hover
{
     background-color : var(--atuiDefaultColorTransparent);
}

.atuiKernel_ToolsSelector a div
{
     height : 35px;
     padding : 5px 10px;
     margin : 0px;
}

.atuiKernel_ToolsSelector a div p
{
     font-size : 1.25rem;
     position: absolute;
     margin-top : 5.5px;
     display: inline;
     color : black;
}

.atuiKernel_ToolsSelector a div img
{
     margin : 5px;
     height : 25px;
     margin-right: 10px;
}

.atuiKernel_ToolsSelectorSeparator
{
     background-color: var(--atuiDefaultColor);
     width : 80%;
     height : 2px;
     margin : 5px 10%;
}

     /* Settings */

          /* Display mode */

#atuiKernel_ToolsSettingsDisplaymode img
{
     display : none;
}

     /* Contact */

#atuiKernel_ToolsContact
{
     margin : 10px;
}

#atuiKernel_ToolsContact > p
{
     font-family: "Red Hat Display";
     font-weight: bold;
}

#atuiKernel_ToolsContact a
{
     margin-right : 5px;
}

#atuiKernel_ToolsContact a img
{
     height : 50px;
}

     /* Explorer */

#atuiKernel_ToolsExplorer
{
     display : flex;
     justify-content: space-around;
     flex-wrap : wrap;
     margin-top : 20px;
}

#atuiKernel_ToolsExplorer div p
{
     font-weight: bold;
     font-size : 1.125rem;
     margin : 15px 0px;
     font-family: "Red Hat Display";
}

#atuiKernel_ToolsExplorer div ul
{
     list-style: none;
     margin : 8px;
     margin-left : 15px;
     font-size : 1rem;
}

#atuiKernel_ToolsExplorer div ul li a
{
     color : black;
}

     /* Carousel */

.atuiKernel_ToolsCarousel
{
     background-size : cover;
     background-position : center;
     display: flex;
     align-items: flex-end;
     justify-content: center;
}

#atuiKernel_Header > .atuiKernel_ToolsCarousel
{
     height : calc(50vh + 50px);
}

.atuiKernel_ToolsCarousel div
{
     margin : 50px 10%;
     margin-top : 80px;
}

.atuiKernel_ToolsCarousel div *
{
     color : white;
     text-align : center;
     margin : 0;
     padding: 10px;
}

.atuiKernel_ToolsCarousel div h2
{
     font-family: "Red Hat Display";
}

.atuiKernel_ToolsCarousel div a
{
     border : none;
     background-color : var(--atuiDefaultColorTransparent);
     font-size : 1.25rem;
     padding : 10px 20px;
     color : white;
     width : 200px;
     font-family : "Red Hat Display";
     border-radius: 10px;
}

     /* Notification */

#atuiKernel_Notification
{
     position: fixed;
     top : 10px;
     width : 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.atuiKernel_NotificationElement
{
     margin : 10px;
     background-color: white;
     width : 70vw;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
     padding : 15px 30px;
}

.atuiKernel_NotificationElement h3
{
     font-family: "Red Hat Display";
     margin : 0;
     font-size : 1.375rem;
     font-weight : bold;
}

.atuiKernel_NotificationElement p
{
     margin : 10px;
     font-size : 1.125rem;
}

.atuiKernel_NotificationElementFooter
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.atuiKernel_NotificationElementFooter *
{
     margin : 10px;
}

.atuiKernel_NotificationElementFooter button
{
     padding : 10px;
     border-radius: 10px;
     background-color: rgb(230, 230, 230);
     border : none;
     font-size : 1rem;
}

.atuiKernel_NotificationElementFooterMain
{
     background-color: var(--atuiDefaultColor) !important;
     font-weight: bold;
     font-family: "Red Hat Display";
}

.atuiKernel_NotificationElementFermer
{
     float: right;
     width: 30px;
     height: 30px;
}

/* Header */

#atuiKernel_Header
{
     background-color : var(--atuiDefaultColor);
     min-height: 50px;
}

#atuiKernel_Header > aside
{
     background-color : rgba(255,255,255,0.7);
     backdrop-filter: blur(5px);
     height : 50px;
     display: flex;
     position: absolute;
     width : 100vw;
}

#atuiKernel_Header > aside > *
{
     align-content: stretch;
}

#atuiKernel_Header aside img 
{
     height : 40px;
     margin : 5px;
}

     /* Left block */

#atuiKernel_HeaderBlockLeft
{
     height : 50px;
     padding-left: 10px;
     order: 1;
     flex: 2;
}

#atuiKernel_HeaderBlockLeft > a img
{
     float: left;
     margin-left: 15px;
}

#atuiKernel_HeaderBlockLeft > a p
{
     margin : 0px;
     margin-top : 4px;
     margin-left: 10px;
     color : black;
     text-decoration : none;
     font-size : 1.875rem;
     font-weight : bold;
     display : inline-block;
     font-family : "Red Hat Display";
}

     /* Center block */

#atuiKernel_HeaderBlockCenter
{
     padding : 5px;
     width: min-content;
     order : 2;
     flex : 2;
}

     /* Right block */

#atuiKernel_HeaderBlockRight
{
     height : 50px;
     padding-right: 10px;
     order: 3;
}

#atuiKernel_HeaderBlockRight > *
{
     float: right;
}

/* Navigator */

     /* Float left */

#atuiKernel_NavigatorStyleFloatleft
{
     margin : 0px;
     display: block;
}

#atuiKernel_NavigatorStyleFloatleft > img
{
     float: left;
}

#atuiKernel_NavigatorStyleFloatleft aside
{
     top : 65px;
     left : 15px;
}

     /* Row */

.atuiKernel_NavigatorStyleRow
{
     display : inline-flex;
     width : calc(100% - 20px);
     justify-content: space-around;
     flex-wrap: wrap;
     margin : 10px;
}

.atuiKernel_NavigatorStyleRow a
{
     color : black;
     text-decoration : none;
}

.atuiKernel_NavigatorStyleRow a img
{
     width : 100px;
}

.atuiKernel_NavigatorStyleRow a p
{
     text-align : center;
     margin : 0px;
}
     
/* Contenu */

section
{
     margin : 15px 5%;
}

     /* Paragraph */

.atuiKernel_SectionText h3
{
     font-weight: bold;
     font-size : 1.25rem;
     color : var(--atuiDefaultColor);
     font-family: "Red Hat Display";
}

.atuiKernel_SectionText p
{
     font-size : 1rem;
}

.atuiKernel_SectionText a
{
     color : var(--atuiDefaultColor);
}

.atuiKernel_SectionText a:hover
{
     font-weight: bold;
}

     /* Image */

.atuiKernel_SectionImage img
{
     margin : 0px 20%;
     width: 60%;
     border-radius: 10px;
}
     
.atuiKernel_SectionImage p
{
     text-align: center;
     color: #333333;
     margin : 5px;
}

     /* Download */

.atuiKernel_SectionDownload
{
     border-radius: 10px;
     border : 2px var(--atuiDefaultColor) solid;
     margin : 10px;
     padding: 10px;
     height : 50px;
}

.atuiKernel_SectionDownload img
{
     float: left;
     height : 50px;
}

.atuiKernel_SectionDownload p
{
     font-weight : bold;
     float : left;
     margin : 14px 0px 14px 20px;
     font-size: 1.125rem;
}

.atuiKernel_SectionDownload a
{
     float : right;
     color : var(--atuiDefaultColor);
     margin : 14px 20px 14px 0px;
     font-size: 1.125rem;
}

     /* Card */

          /* Purified */

.atuiKernel_SectionCard
{
     display: flex;
     flex-wrap : wrap;
     justify-content: space-around;
}

.atuiKernel_SectionCardStylePurified img
{
     width : 100%;
     border-radius : 10px;
}

.atuiKernel_SectionCardStylePurified div
{
     margin: 5px;
}

.atuiKernel_SectionCardStylePurified div h3
{
     font-family: "Red Hat Display";
     margin : 5px 0px;
     font-size: 1.25rem;
}

.atuiKernel_SectionCardStylePurified div p
{
     margin : 5px 0px;
     font-size: 1rem;
}

.atuiKernel_SectionCardStylePurified div a
{
     margin : 5px 0px;
     color : var(--atuiDefaultColor);
     font-weight: bold;
     font-size : 1rem;
     font-family : "Red Hat Display";
}

.atuiKernel_SectionCardStylePurified div a:after
{
     content : " >";
}

/* Footer */

body > footer
{
     background-color : #c0c0c0;
     border-top : 3px solid var(--atuiDefaultColor);
     margin-top : 50px;
     padding: 5px;
     padding-top : 0px;
}

body > footer > a img
{
     width : 50px;
     border-radius : 100%;
     border : 3px solid var(--atuiDefaultColor);
     background-color: white;
     position: absolute;
     left : 50%;
     transform : translate(-50%, -30px);
}
