/* Img Big */

.atuiKernel_NavigationSectionImgbig /* Container */ {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.atuiKernel_NavigationSectionImgbig a /* ELement */ {
    padding: 10px 20px;
    border-radius: var(--atuiKernel_Borderradius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atuiKernel_NavigationSectionImgbig a:hover {
    background-color: var(--atuiKernel_ColorschemeOA3);
}

.atuiKernel_NavigationSectionImgbig a:active {
    background-color: var(--atuiKernel_ColorschemeOA4);
}

.atuiKernel_NavigationSectionImgbig a img /* Icon */ {
    width: 100px;
    height: 100px;
}

.atuiKernel_NavigationSectionImgbig a p /* Text */ {
    margin: 10px 0 0 0;
    font-size: 1.2rem;
    color: var(--atuiKernel_ColorschemeOBF);
}

/* Global Panel */

.atuiKernel_NavigationGlobalpanel aside {
    align-items: normal;
    position: absolute;
    left: 20px;
    right: 20px;
    width: calc(100vw - 100px);
    visibility: hidden;
    background-color: var(--atuiKernel_ColorschemeOB0);
    border-radius: var(--atuiKernel_Borderradius);
    box-shadow: var(--atuiKernel_Shadow);
    display: block !important;
}

.atuiKernel_NavigationGlobalpanel aside > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.atuiKernel_NavigationGlobalpanel aside > div div {
    display: block;
    margin: 10px;
    min-width: 20%;
}

.atuiKernel_NavigationGlobalpanel aside > div div p {
    font-family: var(--atuiKernel_FontsTitle);
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--atuiKernel_ColorschemeOBF);
}

.atuiKernel_NavigationGlobalpanel aside > div div div {
    margin: 10px 20px;
}

.atuiKernel_NavigationGlobalpanel aside > div div div a {
    display: block;
    margin: 5px;
    font-size: 1.1rem;
}

/* Bar */

.atuiKernel_NavigationBar {
    display: flex;
    row-gap: 5px;
}

.atuiKernel_NavigationBar a {
    border-radius: var(--atuiKernel_Borderradius);
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.atuiKernel_NavigationBar p {
    margin: 0;
}

@media (min-width: 768px) /* Computers */ {
    .atuiKernel_NavigationBar {
        width: 20%;
        flex-direction: column;
    }

    .atuiKernel_NavigationBar a.optionMobileonly {
        display: none;
    }

    .atuiKernel_NavigationBar a:not(.optionMobileonly) {
        column-gap: 10px;
    }

    .atuiKernel_NavigationBar a:not(:has(p)) {
        width: max-content;
    }

    .atuiKernel_NavigationBar a:hover {
        background-color: var(--atuiKernel_ColorschemeOA2);
    }

    .atuiKernel_NavigationBar img {
        width: 36px;
    }

    .atuiKernel_NavigationBar p {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) /* Smartphones */ {
    .atuiKernel_NavigationBar {
        width: calc(100% - 10px);
        padding: 5px;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: row;
        position: fixed;
        left : 0;
        right : 0;
        bottom: 0;
        z-index: 10;
        background-color: var(--atuiKernel_ColorschemeOB1);
        border-top: 1px solid var(--atuiKernel_ColorschemeOB3);
    }

    .atuiKernel_NavigationBar a.optionDesktoponly {
        display: none;
    }

    .atuiKernel_NavigationBar a:not(.optionDesktoponly) {
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        padding: 5px 10px;
    }

    .atuiKernel_NavigationBar a:hover {
        background-color: var(--atuiKernel_ColorschemeOB2);
    }

    .atuiKernel_NavigationBar img {
        width: 30px;
    }

    .atuiKernel_NavigationBar p {
        font-size: 0.75rem;
        text-align: center;
    }
}
