/* Img Big */

.atuiKernel_NavigatorSectionImgbig /* Container */
{
     display : flex;
     justify-content: space-evenly;
     margin : 20px 0;
     flex-wrap: wrap;
}

.atuiKernel_NavigatorSectionImgbig a /* ELement */
{
     padding : 10px 20px;
     border-radius : var(--atuiKernel_Borderradius);
     display: flex;
     flex-direction: column;
     align-items: center;
}

.atuiKernel_NavigatorSectionImgbig a:hover
{
     background-color: var(--atuiKernel_ColorschemeOA3);
}

.atuiKernel_NavigatorSectionImgbig a:active
{
     background-color: var(--atuiKernel_ColorschemeOA4);
}

.atuiKernel_NavigatorSectionImgbig a img /* Icon */
{
     width : 100px;
     height : 100px;
}

.atuiKernel_NavigatorSectionImgbig a p /* Text */
{
     margin : 10px 0 0 0;
     font-size : 1.2rem;
     color : var(--atuiKernel_ColorschemeOBF);
}


/* Global Panel */

.atuiKernel_NavigatorGlobalpanel aside
{
     align-items: normal;
     padding : 20px;
     position: absolute;
     left : 20px;
     right : 20px;
     width : calc(100vw - 100px);
     visibility: hidden;
     background-color: var(--atuiKernel_ColorschemeBB1);
     backdrop-filter: var(--atuiKernel_Blur);
     border-radius : var(--atuiKernel_Borderradius);
     box-shadow: var(--atuiKernel_Shadow);
     justify-content: space-around;
     flex-wrap: wrap;
}

.atuiKernel_NavigatorGlobalpanel aside > div
{
     display: block;
     margin : 10px;
     min-width : 20%;
}

.atuiKernel_NavigatorGlobalpanel aside > div p
{
     font-family: var(--atuiKernel_FontsTitle);
     font-weight: bold;
     font-size: 1.4rem;
     color : var(--atuiKernel_ColorschemeOBF);
}

.atuiKernel_NavigatorGlobalpanel aside > div div
{
     margin : 10px 20px;
}

.atuiKernel_NavigatorGlobalpanel aside > div div a
{
     display: block;
     margin : 5px;
     font-size : 1.1rem;
}

