/* Display mode */

#atuiKernel_ToolsSettingsDisplaymode
{
     width : 50px;
     height : 50px;
}

#atuiKernel_ToolsSettingsDisplaymode img
{
     width : 35px !important;
     height : 35px !important;
     margin : 7.5px !important;
}
