/* Style floating */

.#{$subprefix}Audio.styleFloating {
    position: fixed;
    z-index: 12;
    inset: auto 10% 20px;
    margin: 0;
    border: none;
    box-shadow: var(--#{$prefix}ShadowMedium);
    background-color: color("N90", "80%");
    backdrop-filter: var(--#{$prefix}Blur);
    display: none;
}

.#{$subprefix}Audio.styleFloating .#{$subprefix}Close {
    display: block;
}
