/* Audio player */

.mpAudio .mpCover {
    width: 150px;
    height: 150px;
    background-color: hsl(var(--vkColorN70));
    border-radius: var(--vkBorderRadius);
    overflow: hidden;
}

.mpAudio .mpCover img {
    height: 100%;
}

.mpAudio :is(.mpPanel, .mpDashboard) {
    display: flex;
}

.mpAudio .mpPanel {
    gap: 15px;
}

@media (width >= 768px) /* Computers */ {
    .mpAudio .mpDashboard {
        margin-block: 10px;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .mpAudio .mpPanel {
        flex-direction: column;
        align-items: center;
    }

    .mpAudio :is(.mpCover, .mpInfo) {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.mpAudio .mpDashboard {
    flex: 1;
    row-gap: 10px;
}

.mpAudio .mpInfo > p {
    font-size: 1.125rem;
    font-weight: bold;
}

.mpAudio .mpInfoTitle {
    color: hsl(var(--vkColorA40));
}

.mpAudio .mpClose {
    display: none;
}

.mpAudio .mpProgress {
    border-radius: 0 0 var(--vkBorderRadius) var(--vkBorderRadius);
    overflow: hidden;
}
