/* Audio player */

.#{$subprefix}Audio .#{$subprefix}Cover {
    width: 150px;
    height: 150px;
    background-color: color("N70");
    border-radius: var(--#{$prefix}BorderRadius);
    overflow: hidden;
}

.#{$subprefix}Audio .#{$subprefix}Cover img {
    height: 100%;
}

.#{$subprefix}Audio :is(.#{$subprefix}Panel, .#{$subprefix}Dashboard) {
    display: flex;
}

.#{$subprefix}Audio .#{$subprefix}Panel {
    gap: 15px;
}

@media (width >= 768px) /* Computers */ {
    .#{$subprefix}Audio .#{$subprefix}Dashboard {
        margin-block: 10px;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .#{$subprefix}Audio .#{$subprefix}Panel {
        flex-direction: column;
        align-items: center;
    }

    .#{$subprefix}Audio :is(.#{$subprefix}Cover, .#{$subprefix}Info) {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.#{$subprefix}Audio .#{$subprefix}Dashboard {
    flex: 1;
    row-gap: 10px;
}

.#{$subprefix}Audio .#{$subprefix}Info > p {
    font-size: 1.125rem;
    font-weight: bold;
}

.#{$subprefix}Audio .#{$subprefix}InfoTitle {
    color: color("A40");
}

.#{$subprefix}Audio .#{$subprefix}Close {
    display: none;
}

.#{$subprefix}Audio .#{$subprefix}Progress {
    border-radius: 0 0 var(--#{$prefix}BorderRadius) var(--#{$prefix}BorderRadius);
    overflow: hidden;
}
