/* Option style floating */

.mpAudio.optionFloating {
    position: fixed;
    z-index: 12;
    inset: auto 10% 20px;
    margin: 0;
    border: none;
    box-shadow: var(--vkShadowMedium);
    background-color: hsl(var(--vkColorN90) / 80%);
    backdrop-filter: var(--vkBlur);
    display: none;
}

.mpAudio.optionFloating .mpClose {
    display: block;
}
