/* Audio player */

.mpAudio {
    max-width: 1000px;
}

.mpAudio .mpMediaPicture {
    width: 140px;
    height: 140px;
    background-color: color("N70");
    border-radius: var(--vkBorderRadius);
    overflow: hidden;
    box-shadow: var(--vkShadowLight);
}

.mpAudio .mpDashboard {
    flex: 1;
    margin-block: 4px;
}

@media (width < 480px) /* Smartphones */ {
    .mpAudio .mpPanel {
        flex-direction: column;
    }

    .mpAudio .mpMediaPicture {
        margin-inline: auto;
    }
}

/* Style floating */

.mpAudio.styleFloating {
    position: fixed;
    z-index: 12;
    inset: auto 10% 20px;
    margin: 0;
    border-color: color("N70");
    box-shadow: var(--vkShadowMedium);
    background-color: color("N90", "80%");
    backdrop-filter: var(--vkBlur);
    display: none;
}
