/* Style overlay */

.#{$subprefix}Video.styleOverlay .#{$subprefix}Dashboard {
    background-color: color("N90", "80%");
    opacity: 0.2;
    position: absolute;
    inset-block-end: 0;
}

.#{$subprefix}Video.styleOverlay .#{$subprefix}Dashboard:hover {
    opacity: 1;
}
