/* Style overlay */

.mpVideo.styleOverlay .mpDashboard {
    background-color: hsl(var(--vkColorN90) / 80%);
    opacity: 0.2;
    position: absolute;
    inset-block-end: 0;
}

.mpVideo.styleOverlay .mpDashboard:hover {
    opacity: 1;
}
