/* Container */

@media (width >= 768px) /* Computers */ {
    .mpVideo {
        display: flex;
        justify-content: center;
    }
}

.mpVideo > article {
    overflow: hidden;
}

.mpVideo video {
    max-width: 100%;
    max-height: 65vh;
    display: block;
}

/* Header */

.mpVideo .mpHeader {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, color("N90", "60%") 60%, color("N90", "0%"));
    position: absolute;
    inset-block-start: 0;
    padding: 5px 10px;
}

/* Controls */

.mpVideo .mpDashboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Progressbar */

.mpVideo .mpProgress {
    width: 100%;
}
