/* Container */

.mpVideo {
    overflow: hidden;
    width: fit-content;
    margin-inline: auto;
}

.mpVideo video {
    max-width: 100%;
    max-height: 70vh;
    display: block;
}

.mpVideo :is(.mpHeader, .mpDashboard) {
    padding: 12px;
}

.mpVideo .mpHeader {
    border-bottom: 1px solid color("N50");
}

.mpVideo .mpDashboard {
    border-top: 1px solid color("N50");
}

/* Style overlay */

.mpVideo.mpVideo.styleOverlay :is(.mpHeader, .mpDashboard) {
    position: absolute;
    width: 100%;
    border: none;
}

.mpVideo.styleOverlay .mpHeader {
    background: linear-gradient(color("N90", "80%"), transparent);
    top: 0;
}

.mpVideo.styleOverlay .mpDashboard {
    background: linear-gradient(transparent, color("N90", "80%"));
    bottom: 0;
}

.mpVideo.styleOverlay .mpProgress,
.mpVideo.styleOverlay .mpControls #{$iconSelector}:hover {
    background-color: color("N80", 70%);
}
