/* Container */

@media (width >= 768px) /* Computers */ {
    .#{$subprefix}Video {
        display: flex;
        justify-content: center;
    }
}

.#{$subprefix}Video > article {
    overflow: hidden;
}

.#{$subprefix}Video video {
    max-width: 100%;
    max-height: 65vh;
    display: block;
}

/* Controls */

.#{$subprefix}Video .#{$subprefix}Dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Progressbar */

.#{$subprefix}Video .#{$subprefix}Progress {
    width: 100%;
}
