@use "audio-floating";
@use "audio-main";
@use "video-main";
@use "video-overlay";

/* Common */

/* Container */

.mpAudio,
.mpVideo > article {
    border: 1px solid hsl(var(--vkColorN50));
    border-radius: var(--vkBorderRadius);
    position: relative;
}

.mpAudio,
.mpVideo .mpDashboard {
    background-color: hsl(var(--vkColorN90));
}

/* Controls */

.mpAudio .mpPanel,
.mpVideo .mpControls {
    padding: 10px;
}

@media (width >= 768px) /* Computers */ {
    .mpAudio .mpPanel,
    .mpVideo .mpControls {
        flex-direction: row;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .mpControls {
        flex-direction: column;
    }
}

.mpDashboard {
    flex-direction: column;
}

.mpAudio .mpInfo,
.mpControls,
.mpControls > div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.mpControls {
    justify-content: space-evenly;
    direction: ltr;
}

.mpControls :is(i, img) {
    width: 50px;
    height: 40px;
    padding: 5px 10px;
    border-radius: var(--vkBorderRadius);
    font-size: 30px;
}

.mpControls :is(i, img):hover {
    background-color: hsl(var(--vkColorA70));
}

/* Progressbar */

.mpProgress,
.mpProgressInside {
    height: 10px;
}

.mpProgress {
    direction: ltr;
}

.mpProgressInside {
    width: 0;
    background-color: hsl(var(--vkColorA50));
    transition: width 500ms;
}

/* Error */

:is(.mpAudio, .mpVideo) .vkBox {
    margin: 10px;
}
