@import "../../kernel/src/tools";
@import "audio-floating";
@import "audio-main";
@import "video-main";

/* Common */

/* Container */

.mpAudio,
.mpVideo > article {
    border: 1px solid color("N50");
    border-radius: var(--vkBorderRadius);
    position: relative;
}

.mpAudio,
.mpVideo .mpDashboard {
    background-color: color("N90");
}

/* Header */

.mpHeader > p {
    font-size: 1.125rem;
    font-weight: bold;
}

/* Controls */

.mpAudio .mpPanel,
.mpVideo .mpControls {
    padding: 10px;
}

@media (width >= 768px) /* Computers */ {
    .mpAudio .mpPanel,
    .mpVideo .mpControls {
        flex-direction: row;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .mpControls {
        flex-direction: column;
    }
}

.mpDashboard {
    flex-direction: column;
}

.mpAudio .mpHeader,
.mpControls,
.mpControls > div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.mpControls {
    justify-content: space-evenly;
    direction: ltr;
}

.mpControls #{$iconSelector} {
    padding: 5px 10px;
    border-radius: var(--vkBorderRadius);

    @include iconSize(30px);

    box-sizing: content-box;
}

.mpControls #{$iconSelector}:hover {
    background-color: color("A70");
}

/* Progressbar */

.mpProgress,
.mpProgressInside {
    height: 10px;
}

.mpProgress {
    direction: ltr;
}

.mpProgressInside {
    width: 0;
    background-color: color("A50");
    transition: width 500ms;
}

/* Error */

:is(.mpAudio, .mpVideo) .vkBox {
    margin: 10px;
}
