$subprefix: "mp";

@import "../../kernel/src/tools";
@import "audio-floating";
@import "audio-main";
@import "video-main";
@import "video-overlay";

/* Common */

/* Container */

.#{$subprefix}Audio,
.#{$subprefix}Video > article {
    border: 1px solid color("N50");
    border-radius: var(--#{$prefix}BorderRadius);
    position: relative;
}

.#{$subprefix}Audio,
.#{$subprefix}Video .#{$subprefix}Dashboard {
    background-color: color("N90");
}

/* Controls */

.#{$subprefix}Audio .#{$subprefix}Panel,
.#{$subprefix}Video .#{$subprefix}Controls {
    padding: 10px;
}

@media (width >= 768px) /* Computers */ {
    .#{$subprefix}Audio .#{$subprefix}Panel,
    .#{$subprefix}Video .#{$subprefix}Controls {
        flex-direction: row;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .#{$subprefix}Controls {
        flex-direction: column;
    }
}

.#{$subprefix}Dashboard {
    flex-direction: column;
}

.#{$subprefix}Audio .#{$subprefix}Info,
.#{$subprefix}Controls,
.#{$subprefix}Controls > div {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.#{$subprefix}Controls {
    justify-content: space-evenly;
    direction: ltr;
}

.#{$subprefix}Controls #{$iconSelector} {
    padding: 5px 10px;
    border-radius: var(--#{$prefix}BorderRadius);

    @include iconSize(30px);

    box-sizing: content-box;
}

.#{$subprefix}Controls #{$iconSelector}:hover {
    background-color: color("A70");
}

/* Progressbar */

.#{$subprefix}Progress,
.#{$subprefix}ProgressInside {
    height: 10px;
}

.#{$subprefix}Progress {
    direction: ltr;
}

.#{$subprefix}ProgressInside {
    width: 0;
    background-color: color("A50");
    transition: width 500ms;
}

/* Error */

:is(.#{$subprefix}Audio, .#{$subprefix}Video) .#{$prefix}Box {
    margin: 10px;
}
