/* Panel */

.ssPanel {
    border-radius: 25px;
    display: block;
}

.ssPanel.statusActive {
    background-color: hsl(var(--vkColorN90));
    box-shadow: var(--vkShadowMedium);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    margin-block: 20px;
    padding: 10px;
}

@media (width < 480px) /* Smartphones */ {
    .ssPanel.statusActive {
        width: 90%;
        margin-inline: 5%;
    }
}

@media (480px <= width) /* Tablets and computers */ {
    .ssPanel.statusActive {
        width: 500px;
        margin-inline: 50%;
        transform: translateX(-50%);
    }
}

.ssPanel.statusActive > * {
    margin-block-end: 10px;
}

.ssPanel > hr {
    background-color: hsl(var(--vkColorN70));
    border: none;
    height: 1px;
}

.ssPanel:not(.statusActive) {
    width: fit-content;
}

.ssPanel.statusActive > *:not(.ssBar) {
    margin-inline: 10px;
}

/* Search bar */

.ssPanel:not(.statusActive) > *:not(.ssBar) {
    display: none;
}

.ssPanel.statusActive .ssBar {
    margin-block-end: 15px;
}

.ssPanel.statusActive .ssBar div.styleGroup {
    width: available;
    width: stretch;
}

.ssBar div.styleGroup {
    box-shadow: var(--vkShadowLight);
}

.ssPanel .ssBar div.styleGroup input {
    width: 100%;
}

.ssPanel .ssBar div.styleGroup i {
    font-size: 1.125rem;
    width: 1.125rem;
    height: 1.125rem;
}

.ssTrigger {
    display: none;
}

/* Responsive in Header */

@media (width < 1024px) /* Smartphones & tablets */ {
    .vkHeader .ssPanel:not(.statusActive) div.styleGroup {
        display: none;
    }

    .vkHeader .ssPanel:not(.statusActive) .ssTrigger {
        display: block;
        padding: 5px;
        font-size: 1.875rem;
        width: auto;
        height: auto;
    }
}
