$subprefix: "ss";

@import "../../kernel/src/tools";

/* Panel */

.#{$subprefix}Panel {
    border-radius: 25px;
    display: block;
}

.#{$subprefix}Panel.statusActive {
    background-color: color("N90");
    box-shadow: var(--#{$prefix}ShadowMedium);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14;
    margin-block: 20px;
    padding: 10px;
}

@media (width < 480px) /* Smartphones */ {
    .#{$subprefix}Panel.statusActive {
        width: 90%;
        margin-inline: 5%;
    }
}

@media (480px <= width) /* Tablets and computers */ {
    .#{$subprefix}Panel.statusActive {
        width: 500px;
        margin-inline: 50%;
        transform: translateX(-50%);
    }
}

.#{$subprefix}Panel.statusActive > * {
    margin-block-end: 10px;
}

.#{$subprefix}Panel > hr {
    background-color: color("N70");
    border: none;
    height: 1px;
}

.#{$subprefix}Panel:not(.statusActive) {
    width: fit-content;
}

.#{$subprefix}Panel.statusActive > *:not(.#{$subprefix}Bar) {
    margin-inline: 10px;
}

/* Search bar */

.#{$subprefix}Panel:not(.statusActive) > *:not(.#{$subprefix}Bar) {
    display: none;
}

.#{$subprefix}Panel.statusActive .#{$subprefix}Bar {
    margin-block-end: 15px;
}

.#{$subprefix}Panel.statusActive .#{$subprefix}Bar div.styleGroup {
    width: available;
    width: stretch;
}

.#{$subprefix}Bar div.styleGroup {
    box-shadow: var(--#{$prefix}ShadowLight);
}

.#{$subprefix}Panel .#{$subprefix}Bar div.styleGroup input {
    width: 100%;
}

.#{$subprefix}Panel .#{$subprefix}Bar div.styleGroup i {
    font-size: 1.125rem;
    width: 1.125rem;
    height: 1.125rem;
}

.#{$subprefix}Trigger {
    display: none;
}

/* Responsive in Header */

@media (width < 1024px) /* Smartphones & tablets */ {
    .#{$prefix}Header .#{$subprefix}Panel:not(.statusActive) div.styleGroup {
        display: none;
    }

    .#{$prefix}Header .#{$subprefix}Panel:not(.statusActive) .#{$subprefix}Trigger {
        display: block;
        padding: 5px;
        font-size: 1.875rem;
        width: auto;
        height: auto;
    }
}
