.vkAccordion {
    border-radius: var(--vkBorderRadius);
    border: 1px color("N50") solid;
    overflow: hidden;
}

.vkAccordion > header {
    background-color: color("N80");
    padding-inline: 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.vkAccordion > header h3 {
    flex: 1;
    color: color("N00");
    font-family: var(--vkFontsTitle);
    font-weight: var(--vkFontsTitleBold);
}

.vkAccordion > header #{$iconSelector} {
    flex: 0;
    margin-inline-start: 10px;

    @include iconSize("35px");
}

.vkAccordion > section {
    padding: 15px;
    background-color: color("N90");
    border-block-start: 1px color("N50") solid;
    display: none;
}
