$colorOptions: (
    "": "N",
    ".styleAccent": "A",
    ".styleDanger": "D",
    ".styleWarning": "W",
    ".styleSuccess": "S",
    ".styleInfo": "I",
);

.vkBox {
    border-radius: var(--vkBorderRadius);
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;

    > #{$iconSelector} {
        @include iconSize("30px");
    }

    > p {
        flex: 1;
    }

    hr {
        margin-block: 10px;
    }
}

@each $option, $prefix in $colorOptions {
    .vkBox#{$option} {
        border-color: color("#{$prefix}50");
        background-color: color("#{$prefix}90");

        * {
            color: color("#{$prefix}20");
        }

        hr {
            border-color: color("#{$prefix}20");
        }
    }
}
