$colorOptions: (
    "": "N",
    ".styleAccent": "A",
    ".styleDanger": "D",
    ".styleWarning": "W",
    ".styleSuccess": "S",
    ".styleInfo": "I",
);

.#{$prefix}Box {
    border-radius: var(--#{$prefix}BorderRadius);
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.#{$prefix}Box > #{$iconSelector} {
    @include iconSize("30px");
}

@each $option, $palette in $colorOptions {
    .#{$prefix}Box#{$option} {
        border-color: color("#{$palette}50");
        background-color: color("#{$palette}90");
    }

    .#{$prefix}Box#{$option} * {
        color: color("#{$palette}20");
    }
}
