/* Global */

.#{$prefix}Carousel {
    border-radius: var(--#{$prefix}BorderRadius);
    overflow: hidden;
    position: relative;
}

.#{$prefix}Header + .#{$prefix}Carousel {
    border-radius: 0;
}

.#{$prefix}Carousel .#{$prefix}CarouselSlides {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    min-height: 25vh;
    max-height: 75vh;
}

.#{$prefix}Carousel .#{$prefix}CarouselSlides > div /* Slide */ {
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align: center;
    background-color: color("N10");
}

.#{$prefix}Carousel .#{$prefix}CarouselSlides > div > img /* Illustration in slide */ {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.#{$prefix}Carousel .#{$prefix}CarouselSlides > div > div /* Caption in slide */ {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, color("N90", "60%") 50%, transparent 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    min-height: min-content;
    height: available;
    height: stretch;
    text-align: center;
}

/* Controls */

.#{$prefix}Carousel .#{$prefix}CarouselControls {
    position: absolute;
    inset: 0;
}

.#{$prefix}Carousel .#{$prefix}CarouselControls :is(.#{$prefix}CarouselControlsLeft, .#{$prefix}CarouselControlsRight) {
    font-size: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
    color: color("NFF");
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
}

.#{$prefix}Carousel .#{$prefix}CarouselControls .#{$prefix}CarouselControlsLeft {
    left: 10px;
}

.#{$prefix}Carousel .#{$prefix}CarouselControls .#{$prefix}CarouselControlsRight {
    right: 10px;
}
