.#{$prefix}Card {
    border-radius: var(--#{$prefix}BorderRadius);
    overflow: hidden;
    border: 1px solid color("N50");
    background-color: color("N90");
}

.#{$prefix}Card > img {
    display: block;
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
}

.#{$prefix}Card > div > * {
    margin: 10px 15px;
}

/** set font-weight: bold for .#{$prefix}CardHighlight > * for more logical appearance if needed */

.#{$prefix}Card:not(.styleOverlay) .#{$prefix}CardHighlight {
    background-color: color("N80");
    border-block: 1px solid color("N50");
    margin: 0;
    padding: 15px;
}

/* Overlay style */

.#{$prefix}Card.styleOverlay {
    position: relative;
}

.#{$prefix}Card.styleOverlay * {
    color: #fff;
}

.#{$prefix}Card.styleOverlay > img {
    filter: brightness(0.7);
}

.#{$prefix}Card.styleOverlay > div {
    position: absolute;
    top: 0;

    /** replace top with bottom to place the text content at the bottom */
}
