/*

There are some inspirations coming from Bootstrap by Twitter.
Find the documentation on color management here : 
https://getbootstrap.com/docs/5.3/customize/color-modes/

*/

$colorNormal: 0;
$colorAccent: 14;
$colorDanger: 354;
$colorWarning: 45;
$colorSuccess: 152;
$colorInfo: 190;

@function colorGenerator($color, $lightness, $mode) {
    $saturation: 100%;

    @if $color == $colorNormal {
        $saturation: 0%;
    }

    @if $mode == "light" {
        @return $color $saturation #{$lightness + "%"};
    } @else if $mode == "dark" {
        @return $color $saturation #{(100 - $lightness) + "%"};
    }
}

:root,
[data-vk-theme="light"] {
    @for $i from 0 through 10 {
        $step: "";

        @if $i == 10 {
            $step: "FF";
        } @else if $i == 0 {
            $step: "00";
        } @else {
            $step: $i * 10;
        }

        --vkColorN#{$step}: #{colorGenerator($colorNormal, $i * 10, "light")};
        --vkColorA#{$step}: #{colorGenerator($colorAccent, $i * 10, "light")};
        --vkColorD#{$step}: #{colorGenerator($colorDanger, $i * 10, "light")};
        --vkColorW#{$step}: #{colorGenerator($colorWarning, $i * 10, "light")};
        --vkColorS#{$step}: #{colorGenerator($colorSuccess, $i * 10, "light")};
        --vkColorI#{$step}: #{colorGenerator($colorInfo, $i * 10, "light")};
    }

    color-scheme: light;
}

[data-vk-theme="dark"] {
    @for $i from 0 through 10 {
        $step: "";

        @if $i == 10 {
            $step: "FF";
        } @else if $i == 0 {
            $step: "00";
        } @else {
            $step: $i * 10;
        }

        --vkColorN#{$step}: #{colorGenerator($colorNormal, $i * 10, "dark")};
        --vkColorA#{$step}: #{colorGenerator($colorAccent, $i * 10, "dark")};
        --vkColorD#{$step}: #{colorGenerator($colorDanger, $i * 10, "dark")};
        --vkColorW#{$step}: #{colorGenerator($colorWarning, $i * 10, "dark")};
        --vkColorS#{$step}: #{colorGenerator($colorSuccess, $i * 10, "dark")};
        --vkColorI#{$step}: #{colorGenerator($colorInfo, $i * 10, "dark")};
    }

    color-scheme: dark;
}
