/* Global */

.#{$prefix}Download /* Element */ {
    border-radius: var(--#{$prefix}BorderRadius);
    border: 1px color("N50") solid;
    background-color: color("N90");
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.#{$prefix}Download > div /* Containers */ {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.#{$prefix}Download > div:first-child /* Metadata container */ {
    flex: 1;
}

.#{$prefix}Download > div:first-child #{$iconSelector} {
    margin-inline-end: 10px;

    @include iconSize("60px");
}

.#{$prefix}Download > div:first-child p /* File name */ {
    font-weight: bold;
    font-size: 1.125rem;
}

.#{$prefix}Download > div:last-child /* Button container */ {
    justify-content: flex-end;
}

/* Responsive */

@media (width < 480px) /* Smartphones */ {
    .#{$prefix}Download /* Element */ {
        flex-direction: column;
    }

    .#{$prefix}Download > div:last-child /* Button container */ {
        justify-content: space-around;
        margin-block-start: 10px;
    }

    .#{$prefix}Download > div:last-child .#{$prefix}Button {
        margin-block: 0;
    }
}
