/* Global */

.vkDownload /* Element */ {
    border-radius: var(--vkBorderRadius);
    border: 1px color("N50") solid;
    background-color: color("N90");
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.vkDownload > div /* Containers */ {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &:first-child /* Metadata container */ {
        flex: 1;

        #{$iconSelector} {
            margin-inline-end: 10px;

            @include iconSize("60px");
        }

        p /* File name */ {
            font-weight: bold;
            font-size: 1.125rem;
        }
    }

    &:last-child /* Button container */ {
        justify-content: flex-end;
    }
}

/* Responsive */

@media (width < 480px) /* Smartphones */ {
    .vkDownload /* Element */ {
        flex-direction: column;

        > div:last-child /* Button container */ {
            justify-content: space-around;
            margin-block-start: 10px;

            .vkButton {
                margin-block: 0;
            }
        }
    }
}
