/* Container */

.vkFooter {
    background-color: hsl(var(--vkColorA90));
    padding: 20px 40px;
}

.vkFooter > * {
    margin-block: 10px;
}

/* Columns and rows */

.vkFooterColumns,
.vkFooterRows {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.vkFooterColumns {
    justify-content: space-evenly;
}

.vkFooterRows {
    justify-content: center;
}
