/* Global */

.vkHeader {
    background-color: color("N90");
    position: relative;
    z-index: 13;
    padding-inline: 5px;
    width: 100%;
    border-block-end: 1px solid color("N80");

    #{$iconSelector} {
        @include iconSize("2.25rem");
    }
}

/* Display on specific devices */

@media (1024px <= width) /* Computers */ {
    .vkHeader *.optionHideOnDesktop {
        display: none;
    }
}

@media (480px <= width < 1024px) /* Tablets */ {
    .vkHeader *.optionHideOnTablet {
        display: none;
    }
}

@media (width < 480px) /* Smartphones */ {
    .vkHeader *.optionHideOnPhone {
        display: none;
    }
}

/* Styles */

.vkHeader.styleCarousel {
    position: absolute;
    background-color: color("N90", "80%");
    backdrop-filter: var(--vkBlur);
}

.vkHeader.styleFixed {
    position: fixed;
}

.vkHeader.styleAccent {
    background-color: color("A90");
    border-block-end-color: color("A80");
}

.vkHeader.styleDark {
    background-color: color("N20");

    * {
        color: color("NFF");
    }
}

.vkHeader.styleTransparent {
    background-color: transparent;
    border-block-end: none;
    backdrop-filter: none;
}

/* Levels */

.vkHeader > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;

    > * {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &.optionLevelLink #{$iconSelector} {
        @include iconSize("1.125rem");
    }

    &.styleScrollable {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        justify-content: unset;
        flex-wrap: nowrap;

        > * {
            flex: none;
            scroll-snap-align: start;
        }
    }
}

/* Separators */

.vkHeaderSpace {
    flex: 1;
    border: none;
}

.vkHeaderSplit {
    border: 0;
    background-color: color("N20");
    width: 1px;
    height: 1.875rem;

    .vkHeader.styleAccent & {
        background-color: color("A40");
    }

    .vkHeader.styleDark & {
        background-color: color("N80");
    }
}
