/* Global */

.#{$prefix}Header {
    background-color: color("N90");
    position: relative;
    width: available;
    width: stretch;
    z-index: 13;
    padding-inline: 5px;
    border-block-end: 1px solid color("N80");
}

.#{$prefix}Header #{$iconSelector} {
    @include iconSize("2.25rem");
}

/* Display on specific devices */

@media (1024px <= width) /* Computers */ {
    .#{$prefix}Header *.optionHideOnDesktop {
        display: none;
    }
}

@media (480px <= width < 1024px) /* Tablets */ {
    .#{$prefix}Header *.optionHideOnTablet {
        display: none;
    }
}

@media (width < 480px) /* Smartphones */ {
    .#{$prefix}Header *.optionHideOnPhone {
        display: none;
    }
}

/* Styles */

.#{$prefix}Header.styleCarousel {
    position: absolute;
    background-color: color("N90", "80%");
    backdrop-filter: var(--#{$prefix}Blur);
}

.#{$prefix}Header.styleFixed {
    position: fixed;
}

.#{$prefix}Header.styleDark * {
    color: color("NFF");
}

.#{$prefix}Header.styleAccent {
    background-color: color("A90");
    border-block-end-color: color("A80");
}

.#{$prefix}Header.styleAccent .#{$prefix}HeaderSplit {
    background-color: color("A40");
}

.#{$prefix}Header.styleDark {
    background-color: color("N20");
}

.#{$prefix}Header.styleDark .#{$prefix}HeaderSplit {
    background-color: color("N80");
}

.#{$prefix}Header.styleTransparent {
    background-color: transparent;
    border-block-end: none;
    backdrop-filter: none;
}

/* Levels */

.#{$prefix}Header > div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}

.#{$prefix}Header > div > * {
    display: flex;
    align-items: center;
    gap: 5px;
}

.#{$prefix}Header > div.optionLevelLink #{$iconSelector} {
    @include iconSize("1.125rem");
}

.#{$prefix}Header > div.styleScrollable {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: unset;
    flex-wrap: nowrap;
}

.#{$prefix}Header > div.styleScrollable > * {
    flex: none;
    scroll-snap-align: start;
}

/* Separators */

.#{$prefix}HeaderSpace {
    flex: 1;
    border: none;
}

.#{$prefix}HeaderSplit {
    border: 0;
    background-color: color("N20");
    width: 1px;
    height: 1.875rem;
}
