/* Common */

input,
progress,
textarea,
select,
.vkInputSubmit,
input[type="file"]::file-selector-button {
    border-radius: var(--vkBorderRadius);
    border: 1px solid hsl(var(--vkColorN70));
    accent-color: hsl(var(--vkColorA50));
    margin: 5px;
    padding: 10px 15px;
    vertical-align: middle;
}

/* Patch */

input[type="checkbox"],
input[type="radio"] {
    width: 30px;
    height: 30px;
}

input[type="color"] {
    appearance: none;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: var(--vkBorderRadius);
}

input[type="color"]::-moz-color-swatch {
    border-radius: var(--vkBorderRadius);
}

input[type="image"],
.vkInputSubmit {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
    box-sizing: content-box;
}

input[type="file"] {
    padding: 0;
    border: none;
}

input[type="range"] {
    padding-inline: 0;
}

progress {
    background: revert;
    border: revert;
    border-radius: revert;
    height: 30px;
}

/* Fieldset */

fieldset {
    border: 1px solid hsl(var(--vkColorA40));
    border-radius: var(--vkBorderRadius);
    padding: 10px;
    padding-block-start: 0;
}

fieldset legend {
    font-family: var(--vkFontsTitle);
    padding-inline: 10px;
    font-size: 1.125rem;
}

/* Grouped */

/* TODO: set :has(input) instead of form when Firefox will support :has() */

form div.styleGroup {
    background-color: hsl(var(--vkColorNFF));
    border: 1px solid hsl(var(--vkColorN70));
    display: inline-flex;
    border-radius: var(--vkBorderRadius);
}

form div.styleGroup.stylePill {
    border-radius: 25px;
}

form div.styleGroup * {
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0;
}
