/* Snipper */

.#{$prefix}Loader {
    animation: spinner-animation 1s infinite linear;
    width: fit-content;
}

.#{$prefix}Loader i {
    height: 50px;
    font-size: 50px;
    color: color("A50");
}

@keyframes spinner-animation {
    100% {
        transform: rotate(1turn);
    }
}

.#{$prefix}Loader.styleLight > i {
    color: color("N80");
}

.#{$prefix}Loader.styleDark > i {
    color: color("N20");
}
