// * Source code : https://uiball.com/loaders/

/* Default variables */

$defaultSize: 40px;
$defaultSpeed: 1.5s;
$defaultColor: color("A50");
$defaultThickness: 5px;

svg.vkLoaderRing,
div.vkLoaderWobble,
div.vkLoaderWave,
div.vkLoaderPulse,
div.vkLoaderSpinner,
div.vkLoaderRace {
    --vkLoaderSize: #{$defaultSize};
    --vkLoaderSpeed: #{$defaultSpeed};
    --vkLoaderColor: #{$defaultColor};
    --vkLoaderThickness: #{$defaultThickness};
}

/* Ring */

svg.vkLoaderRing {
    height: var(--vkLoaderSize);
    width: var(--vkLoaderSize);
    stroke-width: var(--vkLoaderThickness);
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--vkLoaderSpeed) linear infinite;
    border-radius: 50%;

    circle {
        fill: none;
        stroke: var(--vkLoaderColor);
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: stretch calc(var(--vkLoaderSpeed) * 0.75) ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -124px;
    }
}

/* Wobble */

div.vkLoaderWobble {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--vkLoaderSize);
    width: var(--vkLoaderSize);

    &::before {
        content: "";
        height: 25%;
        width: 25%;
        border-radius: 50%;
        animation: wobble var(--vkLoaderSpeed) ease-in-out infinite;
        transform: translate(0, calc(var(--vkLoaderSize) * -0.4));
        background-color: var(--vkLoaderColor);
    }
}

@keyframes wobble {
    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(var(--vkLoaderSize) * 0.75));
    }
}

/* Wave dot */

div.vkLoaderWave {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--vkLoaderSize);
    height: calc(var(--vkLoaderSize) * 0.17);
    padding-top: calc(var(--vkLoaderSize) * 0.34);
}

div.vkLoaderWaveDot {
    flex-shrink: 0;
    width: calc(var(--vkLoaderSize) * 0.17);
    height: calc(var(--vkLoaderSize) * 0.17);
    border-radius: 50%;
    background-color: var(--vkLoaderColor);
    will-change: transform;
}

@for $i from 1 through 4 {
    div.vkLoaderWaveDot:nth-child(#{$i}) {
        animation: jump
            var(--vkLoaderSpeed)
            ease-in-out
            calc(var(--vkLoaderSpeed) * (-0.45 + ($i - 1) * -0.15))
            infinite;
    }
}

@keyframes jump {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-200%);
    }
}

/* Dot pulse */

div.vkLoaderPulse {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--vkLoaderSize);
    height: var(--vkLoaderSize);
}

@mixin vkLoaderPulseDot {
    content: "";
    display: block;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--vkLoaderColor);
}

div.vkLoaderPulse::before {
    @include vkLoaderPulseDot;

    animation: pulse var(--vkLoaderSpeed) ease-in-out infinite;
}

div.vkLoaderPulseDot {
    @include vkLoaderPulseDot;

    animation: pulse var(--vkLoaderSpeed) ease-in-out calc(var(--vkLoaderSpeed) * 0.125) infinite both;
}

div.vkLoaderPulse::after {
    @include vkLoaderPulseDot;

    animation: pulse var(--vkLoaderSpeed) ease-in-out calc(var(--vkLoaderSpeed) * 0.25) infinite;
}

/* Dot spinner */

div.vkLoaderSpinner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: var(--vkLoaderSize);
    height: var(--vkLoaderSize);
}

div.vkLoaderSpinnerDot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

div.vkLoaderSpinnerDot::before {
    content: "";
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--vkLoaderColor);
    animation: pulse calc(var(--vkLoaderSpeed) * 1.111) ease-in-out infinite;
}

@for $i from 2 through 8 {
    div.vkLoaderSpinnerDot:nth-child(#{$i}) {
        transform: rotate((($i - 1) * 45deg));

        &::before {
            animation-delay: calc(var(--vkLoaderSpeed) * (-0.875 + ($i - 2) * 0.125));
        }
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Race by */

div.vkLoaderRace {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--vkLoaderThickness);
    width: var(--vkLoaderSize);
    border-radius: calc(var(--vkLoaderThickness) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

div.vkLoaderRace::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--vkLoaderColor);
    opacity: 0.1;
}

div.vkLoaderRace::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: calc(var(--vkLoaderThickness) / 2);
    animation: race-by var(--vkLoaderSpeed) ease-in-out infinite;
    transform: translateX(-100%);
    background-color: var(--vkLoaderColor);
}

@keyframes race-by {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
