.vkModal /* Background */ {
    position: fixed;
    inset: 0;
    background-color: hsl(var(--vkColorN40) / 70%);
    z-index: 19;
    overflow-y: auto;
    max-height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}

.vkModal.optionShow {
    display: flex;
}

.vkModal > div /* Container */ {
    background-color: hsl(var(--vkColorNFF));
    border-radius: var(--vkBorderRadius);
    box-shadow: var(--vkShadowMedium);
    padding: 20px;
    min-width: 40%;
    min-height: 20%;
    max-width: 80%;
    max-height: 80%;
}
