.vkModal /* Background */ {
    position: fixed;
    inset: 0;
    background-color: color("N40", "70%");
    z-index: 19;
    overflow-y: auto;
    max-height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}

.vkModal.statusShow {
    display: flex;
}

.vkModal > div /* Container */ {
    background-color: color("NFF");
    border-radius: var(--vkBorderRadius);
    box-shadow: var(--vkShadowMedium);
    padding: 20px;
    min-width: 40%;
    min-height: 20%;
    max-width: 80%;
    max-height: 80%;
}
