/* Img Big */

.vkNavigationRow /* Container */ {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vkNavigationRow a /* ELement */ {
    padding: 10px 20px;
    border-radius: var(--vkBorderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vkNavigationRow a:hover {
    background-color: color("A70");
}

.vkNavigationRow a:active {
    background-color: color("A60");
}

.vkNavigationRow a #{$iconSelector} {
    @include iconSize("80px");
}

.vkNavigationRow a p /* Text */ {
    margin-block-start: 10px;
    font-size: 1.125rem;
    color: color("N00");
}

/* Bar */

.vkNavigationBar {
    display: flex;
    row-gap: 5px;
}

.vkNavigationBar a {
    border-radius: var(--vkBorderRadius);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.vkNavigationBar p {
    width: max-content;
}

.vkNavigationBar hr {
    background-color: color("A60");
    width: 100%;
    height: 2px;
    border: 0;
}

.vkNavigationBar hr.vkNavigationSplit {
    flex: 1;
    background-color: transparent;
}

@media (width >= 768px) /* Computers */ {
    .vkNavigationBar {
        flex-direction: column;
    }

    .vkNavigationBar a:hover {
        background-color: color("A80");
    }

    .vkNavigationBar #{$iconSelector} {
        @include iconSize("36px");
    }

    .vkNavigationBar p {
        font-size: 1.125rem;
    }

    .vkNavigationBar *.optionOnlyMobile {
        display: none;
    }

    .vkNavigationBar.styleDrawer p {
        display: none;
    }

    .vkNavigationBar.styleDrawer:hover p {
        display: block;
    }

    .vkNavigationBar:not(.styleMobile, .styleDrawer),
    .vkNavigationBar.styleDrawer:hover {
        width: 20%;
    }

    .vkNavigationBar.styleMobile a {
        flex-direction: column;
        row-gap: 5px;
        padding: 5px 10px;
    }

    .vkNavigationBar.styleMobile p {
        font-size: 0.875rem;
        text-align: center;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .vkNavigationBar {
        padding: 5px;
        position: sticky;
        inset-block-end: 0;
        z-index: 11;
        background-color: color("N90");
        border-block-start: 1px solid color("N70");
        border-image: none;
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
    }

    .vkNavigationBar a {
        flex-direction: column;
        justify-content: center;
    }

    .vkNavigationBar a:hover {
        background-color: color("N80");
    }

    .vkNavigationBar #{$iconSelector} {
        @include iconSize("30px");
    }

    .vkNavigationBar p {
        font-size: 0.875rem;
        text-align: center;
    }

    .vkNavigationBar hr {
        display: none;
    }

    .vkNavigationBar *.optionOnlyDesktop {
        display: none;
    }
}
