/* Img Big */

.#{$prefix}NavigationRow /* Container */ {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.#{$prefix}NavigationRow a /* ELement */ {
    padding: 10px 20px;
    border-radius: var(--#{$prefix}BorderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.#{$prefix}NavigationRow a:hover {
    background-color: color("A70");
}

.#{$prefix}NavigationRow a:active {
    background-color: color("A60");
}

.#{$prefix}NavigationRow a #{$iconSelector} {
    @include iconSize("80px");
}

.#{$prefix}NavigationRow a p /* Text */ {
    margin-block-start: 10px;
    font-size: 1.125rem;
    color: color("N00");
}

/* Bar */

.#{$prefix}NavigationBar {
    display: flex;
    row-gap: 5px;
}

.#{$prefix}NavigationBar a {
    border-radius: var(--#{$prefix}BorderRadius);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px 10px;
}

.#{$prefix}NavigationBar p {
    width: max-content;
}

.#{$prefix}NavigationBar hr {
    background-color: color("A60");
    width: 100%;
    height: 2px;
    border: 0;
}

.#{$prefix}NavigationBar hr.#{$prefix}NavigationSplit {
    flex: 1;
    background-color: transparent;
}

@media (width >= 768px) /* Computers */ {
    .#{$prefix}NavigationBar {
        flex-direction: column;
    }

    .#{$prefix}NavigationBar a:hover {
        background-color: color("A80");
    }

    .#{$prefix}NavigationBar #{$iconSelector} {
        @include iconSize("36px");
    }

    .#{$prefix}NavigationBar p {
        font-size: 1.125rem;
    }

    .#{$prefix}NavigationBar *.optionOnlyMobile {
        display: none;
    }

    .#{$prefix}NavigationBar.styleDrawer p {
        display: none;
    }

    .#{$prefix}NavigationBar.styleDrawer:hover p {
        display: block;
    }

    .#{$prefix}NavigationBar:not(.styleMobile, .styleDrawer),
    .#{$prefix}NavigationBar.styleDrawer:hover {
        width: 20%;
    }

    .#{$prefix}NavigationBar.styleMobile a {
        flex-direction: column;
        row-gap: 5px;
        padding: 5px 10px;
    }

    .#{$prefix}NavigationBar.styleMobile p {
        font-size: 0.875rem;
        text-align: center;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .#{$prefix}NavigationBar {
        padding: 5px;
        position: sticky;
        inset-block-end: 0;
        z-index: 11;
        background-color: color("N90");
        border-block-start: 1px solid color("N70");
        border-image: none;
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
    }

    .#{$prefix}NavigationBar a {
        flex-direction: column;
        justify-content: center;
    }

    .#{$prefix}NavigationBar a:hover {
        background-color: color("N80");
    }

    .#{$prefix}NavigationBar #{$iconSelector} {
        @include iconSize("30px");
    }

    .#{$prefix}NavigationBar p {
        font-size: 0.875rem;
        text-align: center;
    }

    .#{$prefix}NavigationBar hr {
        display: none;
    }

    .#{$prefix}NavigationBar *.optionOnlyDesktop {
        display: none;
    }
}
