/* Global */

.#{$prefix}NotificationContainer {
    position: fixed;
    inset: 0 20% auto;
    z-index: 16;
    overflow-y: auto;
    max-height: 100vh;
}

@media (width < 480px) /* Smartphones */ {
    .#{$prefix}NotificationContainer {
        inset-inline: 0;
    }
}

.#{$prefix}Notification {
    background-color: color("NFF");
    border-radius: var(--#{$prefix}BorderRadius);
    box-shadow: var(--#{$prefix}ShadowMedium);
    margin: 10px;
    padding: 20px;
}

.#{$prefix}Notification > header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.#{$prefix}Notification > header * {
    font-size: 1.5rem;
}

.#{$prefix}Notification > header #{$iconSelector} {
    @include iconSize("1.5rem");
}

.#{$prefix}Notification > header p {
    font-weight: var(--#{$prefix}FontsTitleBold);
    font-family: var(--#{$prefix}FontsTitle);
}

.#{$prefix}Notification > section {
    margin: 10px;
}

/* Mini style */

.#{$prefix}Notification.styleMini > header p {
    all: unset;
}

.#{$prefix}Notification.styleMini > section {
    display: none;
}

.#{$prefix}Notification.styleMini > footer {
    margin-block-start: 10px;
}

.#{$prefix}Notification.styleMini > footer .#{$prefix}Button {
    margin: 0;
}
