/* Global */

.vkNotificationContainer {
    position: fixed;
    inset: 0 20% auto;
    z-index: 16;
    overflow-y: auto;
    max-height: 100vh;
}

@media (width < 480px) /* Smartphones */ {
    .vkNotificationContainer {
        inset-inline: 0;
    }
}

.vkNotification {
    background-color: hsl(var(--vkColorNFF));
    border-radius: var(--vkBorderRadius);
    box-shadow: var(--vkShadowMedium);
    margin: 10px;
    padding: 20px;
}

.vkNotification > header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vkNotification > header * {
    font-size: 1.5rem;
}

.vkNotification > header :is(i, img) {
    width: 1.5rem;
    height: 1.5rem;
}

.vkNotification > header p {
    font-weight: var(--vkFontsTitleBold);
    font-family: var(--vkFontsTitle);
}

.vkNotification > section {
    margin: 10px;
}

/* Mini style */

.vkNotification.styleMini > header p {
    all: unset;
}

.vkNotification.styleMini > section {
    display: none;
}

.vkNotification.styleMini > footer {
    margin-block-start: 10px;
}

.vkNotification.styleMini > footer .vkButton {
    margin: 0;
}
