/* Number */

.vkPaginationNumber {
    display: flex;
    justify-content: center;

    > * {
        padding: 10px 15px;
        border: 1px solid color("N50");
        border-inline-start: none;
        color: color("N00");

        &:first-child {
            border-start-start-radius: var(--vkBorderRadius);
            border-end-start-radius: var(--vkBorderRadius);
            border-inline-start: 1px solid color("N50");
        }

        &:last-child {
            border-start-end-radius: var(--vkBorderRadius);
            border-end-end-radius: var(--vkBorderRadius);
        }

        &:hover {
            color: color("A50");
            background-color: color("A90");
        }
    }

    > p {
        color: color("A50");

        &:hover {
            background-color: transparent;
        }
    }
}

/* Text */

.vkPaginationText {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-direction: row;

    @media (width <= 480px) /* Smartphones */ {
        flex-direction: column;
    }
}

.vkPaginationText a {
    border: 1px solid color("N00");
    border-radius: var(--vkBorderRadius);
    padding: 15px;
    flex: 1;

    p {
        color: color("N00");
        text-align: center;

        // ! not flexible feature, need review
        &:first-child {
            margin-block-end: 10px;
        }
    }

    &:hover {
        border-width: 2px;
        border-color: color("A40");
        background-color: color("A90");

        p {
            color: color("A40");
        }
    }
}
