/* Number */

.vkPaginationNumber {
    display: flex;
    justify-content: center;
}

.vkPaginationNumber > * {
    padding: 10px 15px;
    border: 1px solid color("N50");
    border-inline-start: none;
    color: color("N00");
}

.vkPaginationNumber > *:first-child {
    border-start-start-radius: var(--vkBorderRadius);
    border-end-start-radius: var(--vkBorderRadius);
    border-inline-start: 1px solid color("N50");
}

.vkPaginationNumber > *:last-child {
    border-start-end-radius: var(--vkBorderRadius);
    border-end-end-radius: var(--vkBorderRadius);
}

.vkPaginationNumber > *:hover {
    background-color: color("A90");
}

.vkPaginationNumber > *:hover,
.vkPaginationNumber > p {
    color: color("A50");
}

.vkPaginationNumber > p:hover {
    background-color: transparent;
}

/* Text */

.vkPaginationText {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-direction: row;
}

@media (width <= 480px) /* Smartphones */ {
    .vkPaginationText {
        flex-direction: column;
    }
}

.vkPaginationText a {
    border: 1px solid color("N00");
    border-radius: var(--vkBorderRadius);
    padding: 15px;
    flex: 1;
}

.vkPaginationText a:hover {
    border-width: 2px;
    border-color: color("A40");
    background-color: color("A90");
}

.vkPaginationText a p {
    color: color("N00");
    text-align: center;
}

.vkPaginationText a:hover p {
    color: color("A40");
}

.vkPaginationText a p:first-child {
    margin-block-end: 10px;
}
