/* Number */

.#{$prefix}PaginationNumber {
    display: flex;
    justify-content: center;
}

.#{$prefix}PaginationNumber > * {
    padding: 10px 15px;
    border: 1px solid color("N50");
    border-inline-start: none;
    color: color("N00");
}

.#{$prefix}PaginationNumber > *:first-child {
    border-start-start-radius: var(--#{$prefix}BorderRadius);
    border-end-start-radius: var(--#{$prefix}BorderRadius);
    border-inline-start: 1px solid color("N50");
}

.#{$prefix}PaginationNumber > *:last-child {
    border-start-end-radius: var(--#{$prefix}BorderRadius);
    border-end-end-radius: var(--#{$prefix}BorderRadius);
}

.#{$prefix}PaginationNumber > *:hover {
    background-color: color("A90");
}

.#{$prefix}PaginationNumber > *:hover,
.#{$prefix}PaginationNumber > p {
    color: color("A50");
}

.#{$prefix}PaginationNumber > p:hover {
    background-color: transparent;
}

/* Text */

.#{$prefix}PaginationText {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-direction: row;
}

@media (width <= 480px) /* Smartphones */ {
    .#{$prefix}PaginationText {
        flex-direction: column;
    }
}

.#{$prefix}PaginationText a {
    border: 1px solid color("N00");
    border-radius: var(--#{$prefix}BorderRadius);
    padding: 15px;
    flex: 1;
}

.#{$prefix}PaginationText a:hover {
    border-width: 2px;
    border-color: color("A40");
    background-color: color("A90");
}

.#{$prefix}PaginationText a p {
    color: color("N00");
    text-align: center;
}

.#{$prefix}PaginationText a:hover p {
    color: color("A40");
}

.#{$prefix}PaginationText a p:first-child {
    margin-block-end: 10px;
}
