/* Global */

.#{$prefix}Paragraph > * {
    margin: 10px 5px;
}

.#{$prefix}Paragraph :is(h1, h2, h3, h4, h5, h6) {
    color: color("A40");
}

/* Quote */

.#{$prefix}Paragraph .#{$prefix}ParagraphQuote {
    font-family: var(--#{$prefix}FontsSpecial);
    margin: 15px 20px;
}

.#{$prefix}Paragraph .#{$prefix}ParagraphQuote em {
    color: color("N50");
    font-style: italic;
    margin: 5px;
    font-size: 0.875rem;
    display: block;
}

/* Images in titles */

/* These values are linked with main.css values. */

/* Don't need to do that with icons */

.#{$prefix}Paragraph :is(h1, h2, h3, h4, h5, h6) img {
    vertical-align: middle;
}

.#{$prefix}Paragraph h1 img {
    height: 2.25rem;
}

.#{$prefix}Paragraph h2 img {
    height: 1.875rem;
}

.#{$prefix}Paragraph h3 img {
    height: 1.5rem;
}

.#{$prefix}Paragraph h4 img {
    height: 1rem;
}

.#{$prefix}Paragraph h5 img {
    height: 0.875rem;
}

.#{$prefix}Paragraph h6 img {
    height: 0.625rem;
}

/* Image */

.#{$prefix}ParagraphImage {
    padding: 10px;
}

.#{$prefix}ParagraphImage img {
    border-radius: var(--#{$prefix}BorderRadius);
}

.#{$prefix}ParagraphImage p {
    color: color("N50");
    font-style: italic;
    margin: 5px;
    font-size: 0.875rem;
    text-align: center;
}

@media (width >= 768px) /* Computers */ {
    .#{$prefix}ParagraphImage img {
        margin-inline: 10%;
        width: 80%;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .#{$prefix}ParagraphImage img {
        width: 100%;
    }
}
