/* Global */

.vkParagraph > * {
    margin: 10px 5px;
}

.vkParagraph :is(h1, h2, h3, h4, h5, h6) {
    color: color("A40");
}

/* Quote */

.vkParagraph .vkParagraphQuote {
    font-family: var(--vkFontsSpecial);
    margin: 15px 20px;
}

.vkParagraph .vkParagraphQuote em {
    color: color("N50");
    font-style: italic;
    margin: 5px;
    font-size: 0.875rem;
    display: block;
}

/* Images in titles */

/* These values are linked with main.css values. */

/* Don't need to do that with icons */

.vkParagraph :is(h1, h2, h3, h4, h5, h6) img {
    vertical-align: middle;
}

.vkParagraph h1 img {
    height: 2.25rem;
}

.vkParagraph h2 img {
    height: 1.875rem;
}

.vkParagraph h3 img {
    height: 1.5rem;
}

.vkParagraph h4 img {
    height: 1rem;
}

.vkParagraph h5 img {
    height: 0.875rem;
}

.vkParagraph h6 img {
    height: 0.625rem;
}

/* Image */

.vkParagraphImage {
    padding: 10px;
}

.vkParagraphImage img {
    border-radius: var(--vkBorderRadius);
}

.vkParagraphImage p {
    color: color("N50");
    font-style: italic;
    margin: 5px;
    font-size: 0.875rem;
    text-align: center;
}

@media (width >= 768px) /* Computers */ {
    .vkParagraphImage img {
        margin-inline: 10%;
        width: 80%;
    }
}

@media (width <= 767px) /* Smartphones */ {
    .vkParagraphImage img {
        width: 100%;
    }
}
