/* Common to context menu and tooltip */

:is(.#{$prefix}PopupContextmenu, .#{$prefix}PopupTooltip) {
    all: unset;
    position: fixed; /* fixed position is obligatory for centered option */
    background-color: color("NFF");
    border-radius: var(--#{$prefix}BorderRadius);
    box-shadow: var(--#{$prefix}ShadowMedium);
    width: max-content;
    visibility: hidden;
    display: block;
}

@media (480px <= width) /* Tablets and computers */ {
    :is(.#{$prefix}PopupContextmenu, .#{$prefix}PopupTooltip) {
        max-width: 30%;
    }
}

@media (width < 480px) /* Smartphones */ {
    :is(.#{$prefix}PopupContextmenu, .#{$prefix}PopupTooltip) {
        max-width: 70%;
    }
}

:is(.#{$prefix}PopupContextmenu, .#{$prefix}PopupTooltip) * {
    color: color("N00");
    font-size: 1rem;
}

/* Context menu */

.#{$prefix}PopupContextmenu {
    z-index: 18;
    padding-block: 10px;
}

.#{$prefix}PopupContextmenu > * {
    padding: 5px 10px;
}

@media (pointer: coarse) /* Touch screen */ {
    .#{$prefix}PopupContextmenu > * {
        padding: 10px 15px;
    }
}

.#{$prefix}PopupContextmenu #{$iconSelector} {
    @include iconSize("1em");
}

.#{$prefix}PopupContextmenu > a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.#{$prefix}PopupContextmenu > a:hover {
    background-color: color("A60", "80%");
}

.#{$prefix}PopupContextmenu > hr {
    background-color: color("A60");
    height: 2px;
    border: 0;
    margin: 5px 10%;
    padding: 0;
}

/* Global Panel */

.#{$prefix}PopupGlobalpanel {
    align-items: normal;
    position: absolute;
    visibility: hidden;
    background-color: color("NFF");
    border-radius: var(--#{$prefix}BorderRadius);
    box-shadow: var(--#{$prefix}ShadowMedium);
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

@media (480px <= width) /* Tablets and computers */ {
    .#{$prefix}PopupGlobalpanel {
        padding: 20px 30px;
        gap: 40px;
    }
}

.#{$prefix}PopupGlobalpanel * {
    color: color("N00");
}

/* Tooltip */

.#{$prefix}PopupTooltip {
    z-index: 17;
    padding: 10px;
}
