/* Common to context menu and tooltip */

:is(.vkPopupContextmenu, .vkPopupTooltip) {
    all: unset;
    position: fixed; /* fixed position is obligatory for centered option */
    background-color: hsl(var(--vkColorNFF));
    border-radius: var(--vkBorderRadius);
    box-shadow: var(--vkShadowMedium);
    width: max-content;
    visibility: hidden;
    display: block;
}

@media (480px <= width) /* Tablets and computers */ {
    :is(.vkPopupContextmenu, .vkPopupTooltip) {
        max-width: 30%;
    }
}

@media (width < 480px) /* Smartphones */ {
    :is(.vkPopupContextmenu, .vkPopupTooltip) {
        max-width: 70%;
    }
}

:is(.vkPopupContextmenu, .vkPopupTooltip) * {
    color: hsl(var(--vkColorN00));
    font-size: 1rem;
}

/* Context menu */

.vkPopupContextmenu {
    z-index: 18;
    padding-block: 10px;
}

.vkPopupContextmenu > * {
    padding: 5px 10px;
}

@media (pointer: coarse) /* Touch screen */ {
    .vkPopupContextmenu > * {
        padding: 10px 15px;
    }
}

.vkPopupContextmenu :is(i, img) {
    font-size: 1em;
    width: 1em;
    height: 1em;
}

.vkPopupContextmenu > a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vkPopupContextmenu > a:hover {
    background-color: hsl(var(--vkColorA60) / 80%);
}

.vkPopupContextmenu > hr {
    background-color: hsl(var(--vkColorA60));
    height: 2px;
    border: 0;
    margin: 5px 10%;
    padding: 0;
}

/* Global Panel */

.vkPopupGlobalpanel {
    align-items: normal;
    position: absolute;
    visibility: hidden;
    background-color: hsl(var(--vkColorNFF));
    border-radius: var(--vkBorderRadius);
    box-shadow: var(--vkShadowMedium);
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

@media (480px <= width) /* Tablets and computers */ {
    .vkPopupGlobalpanel {
        padding: 20px 30px;
        gap: 40px;
    }
}

.vkPopupGlobalpanel * {
    color: hsl(var(--vkColorN00));
}

/* Tooltip */

.vkPopupTooltip {
    z-index: 17;
    padding: 10px;
}
