:root {
    font-size: 16px;

    --vkFontsTitle: system-ui;
    --vkFontsText: system-ui;
    --vkFontsSpecial: cursive;
    --vkFontsMonospace: monospace;
    --vkFontsTitleBold: bold; /* or normal */
    --vkBlur: blur(5px);
    --vkBorderRadius: 10px;
    --vkShadowLight: hsl(var(--vkColorN00) / 20%) 0px 3px 8px; /* #5 */
    --vkShadowMedium: hsl(var(--vkColorN00) / 30%) 0px 5px 15px; /* #3 */
    --vkShadowHeavy: hsl(var(--vkColorN00) / 80%) 0px 20px 30px -10px; /* #20 */
}

/* Font size list convention : 
84px : 5.25rem
72px : 4.5rem
60px : 3.75rem
48px : 3rem
36px : 2.25rem
30px : 1.875rem
24px : 1.5rem
18px : 1.125rem
16px : 1rem
14px : 0.875rem
10px : 0.625rem
*/

/* Shadows source : https://getcssscan.com/css-box-shadow-examples
Look at the # to find the corresponding shadow */

html {
    scroll-behavior: smooth;
}

body {
    background: hsl(var(--vkColorNFF));
}

* {
    font-family: var(--vkFontsText);
    color: hsl(var(--vkColorN00));
    word-wrap: anywhere;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default props of HTML tags */

:is(p, a, label) {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--vkFontsTitle);
    font-weight: var(--vkFontsTitleBold);
    margin-block: 15px;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.625rem;
}

code {
    font-family: var(--vkFontsMonospace);
}

// stylelint-disable-next-line selector-class-pattern
.ti {
    color: hsl(var(--vkColorN00));
    font-size: 1em;
    width: 1em;
    height: 1em;
}

::selection {
    background: hsl(var(--vkColorA80));
    color: hsl(var(--vkColorA20));
}

/* Scrollbar */

/* stylelint-disable-next-line no-duplicate-selectors */
* {
    /* Firefox syntax */
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--vkColorN60)) hsl(var(--vkColorN90)); /* colors order : thumb, container */
}

::-webkit-scrollbar {
    background-color: hsl(var(--vkColorN90));
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--vkColorN60));
    border-width: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--vkColorN40));
}
