/* Breadcrumb */

.vkBreadcrumb > * {
    display: inline-block;

    &:last-child {
        color: color("A50");
    }

    &:not(:last-child) {
        color: color("N00");
        margin-inline-end: 10px;

        &::after {
            content: "/";
            margin-inline-start: 10px;
            font-weight: normal;
        }
    }
}

/* Group */

.vkGroup {
    display: flex;
    flex-direction: column;

    > * {
        padding: 15px 20px;

        &:not(:last-child) {
            border-block-end: 2px solid color("N80");
        }
    }
}

/* List */

dl.vkList :is(dt, dd),
:is(ul, ol).vkList li {
    margin-block: 5px;
}

dl.vkList dd,
:is(ul, ol).vkList li {
    margin-inline-start: 10px;
}

dl.vkList dt {
    font-weight: bold;
}

:is(ul, ol).vkList {
    padding-inline-start: 0;
    list-style: none;
}

/* Scrolltop */

.vkScrolltop {
    padding: 10px;
    width: auto;
    height: auto;
    color: color("A20");
    background-color: color("A80");
    border: none;
    border-radius: var(--vkBorderRadius);
    font-size: 2.25rem;
    position: fixed;
    z-index: 15;
    inset-block-end: 30px;
    inset-inline-end: 40px;
    box-shadow: var(--vkShadowLight);
    display: none;

    @media (width < 480px) /* Smartphones */ {
        inset-inline-end: 30px;
    }

    &.statusActive {
        display: block;
    }
}

/* Logotype */

.vkLogotype {
    display: flex;
    align-items: center;
    gap: 5px;

    * {
        font-family: var(--vkFontsTitle);
        font-weight: var(--vkFontsTitleBold);
        font-size: 1.5em;
    }

    #{$iconSelector} {
        @include iconSize("2.25rem");
    }
}
