/* Breadcrumb */

.vkBreadcrumb > * {
    display: inline-block;
}

.vkBreadcrumb > *:last-child {
    color: color("A50");
}

.vkBreadcrumb > *:not(:last-child) {
    color: color("N00");
    margin-inline-end: 10px;
}

.vkBreadcrumb > *:not(:last-child)::after {
    content: "/";
    margin-inline-start: 10px;
    font-weight: normal;
}

/* Group */

.vkGroup {
    display: flex;
    flex-direction: column;
}

.vkGroup > * {
    padding: 15px 20px;
}

.vkGroup > *:not(:last-child) {
    border-block-end: 2px solid color("N80");
}

/* List */

dl.vkList :is(dt, dd),
:is(ul, ol).vkList li {
    margin-block: 5px;
}

dl.vkList dd,
:is(ul, ol).vkList li {
    margin-inline-start: 10px;
}

dl.vkList dt {
    font-weight: bold;
}

:is(ul, ol).vkList {
    padding-inline-start: 0;
    list-style: none;
}

/* Scrolltop */

.vkScrolltop {
    border: none;
    border-radius: var(--vkBorderRadius);
    color: color("A20");
    background-color: color("A80");
    position: fixed;
    z-index: 15;
    inset-block-end: 30px;
    inset-inline-end: 40px;
    font-size: 2.25rem;
    width: auto;
    height: auto;
    box-shadow: var(--vkShadowLight);
    display: none;
}

@media (width < 480px) /* Smartphones */ {
    .vkScrolltop {
        inset-inline-end: 30px;
    }
}

.vkScrolltop.statusActive {
    display: block;
}

/* Logotype */

.vkLogotype {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vkLogotype * {
    font-family: var(--vkFontsTitle);
    font-weight: var(--vkFontsTitleBold);
    font-size: 1.5em;
}

.vkLogotype #{$iconSelector} {
    @include iconSize("2.25rem");
}
