.#{$prefix}Slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.#{$prefix}Slider > * /* Slide */ {
    flex: 0 0 max-content;
    scroll-snap-align: start;
}
