.vkSquarelink {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: var(--vkBorderRadius);
    height: 120px;
    min-width: 120px;
    max-width: 250px;
    border: 1px solid color("N00");
    vertical-align: middle;

    &:hover,
    &:active {
        border-color: color("A50");

        * {
            color: color("A50");
        }
    }

    &:hover {
        background-color: color("A80");
    }

    &:active {
        background-color: color("A60");
    }
}

.vkSquarelink.styleFilled {
    background-color: color("A40");
    border: none;

    &:hover {
        background-color: color("A60");
    }

    &:active {
        background-color: color("A80");
    }

    * {
        color: color("NFF");
    }
}

.vkSquarelink.styleNavigator {
    justify-content: flex-end;

    > i {
        @include iconSize("2.25rem");
    }

    > p {
        font-weight: var(--vkFontsTitleBold);
    }
}
