.vkSquarelink {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: var(--vkBorderRadius);
    height: 120px;
    min-width: 120px;
    max-width: 250px;
    border: 1px solid color("N00");
    vertical-align: middle;
}

.vkSquarelink:is(:hover, :active) {
    border-color: color("A50");
}

.vkSquarelink:hover {
    background-color: color("A80");
}

.vkSquarelink:active {
    background-color: color("A60");
}

.vkSquarelink:is(:hover, :active) * {
    color: color("A50");
}

.vkSquarelink.styleFilled {
    background-color: color("A40");
    border: none;
}

.vkSquarelink.styleFilled:hover {
    background-color: color("A60");
}

.vkSquarelink.styleFilled:active {
    background-color: color("A80");
}

.vkSquarelink.styleFilled * {
    color: color("NFF");
}

.vkSquarelink.styleNavigator {
    justify-content: flex-end;
}

.vkSquarelink.styleNavigator > i {
    font-size: 2.25em;
}

.vkSquarelink.styleNavigator > p {
    font-weight: var(--vkFontsTitleBold);
}
