/* Section containers management */

:is(.#{$prefix}StructureBody, .#{$prefix}StructureSection) {
    display: flex;
    flex-wrap: nowrap;
}

@media (width >= 768px) /* Computers */ {
    :is(.#{$prefix}StructureBody, .#{$prefix}StructureSection) {
        flex-direction: row;
    }

    :is(.#{$prefix}StructureBody, .#{$prefix}StructureSection) > *:not(:last-child, .#{$prefix}NotificationContainer) {
        border-inline-end: 1px solid color("N80");
    }

    .#{$prefix}StructureSection > *:not(:last-child) {
        border-image: linear-gradient(
                to bottom,
                transparent calc(0% + 20px),
                color("N80") calc(0% + 120px),
                color("N80") calc(100% - 120px),
                transparent calc(100% - 20px)
            )
            0 1 0;
    }
}

@media (width <= 767px) /* Smartphones */ {
    :is(.#{$prefix}StructureBody, .#{$prefix}StructureSection) {
        flex-direction: column-reverse;
    }

    :is(.#{$prefix}StructureBody, .#{$prefix}StructureSection) > *:not(:last-child, .#{$prefix}NotificationContainer) {
        border-block-end: 1px solid color("N80");
    }

    .#{$prefix}StructureSection > *:not(:last-child) {
        border-image: linear-gradient(
                to right,
                transparent calc(0% + 20px),
                color("N80") calc(0% + 120px),
                color("N80") calc(100% - 120px),
                transparent calc(100% - 20px)
            )
            1 0 0 0;
    }
}

.#{$prefix}StructureBody > *:not(.#{$prefix}StructureBodyContent),
.#{$prefix}StructureSection > * {
    padding: 10px;
}

:is(.#{$prefix}StructureBodyContent, .#{$prefix}StructureSectionContent) {
    flex: 1;
}

.#{$prefix}StructureBodyContent {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.#{$prefix}StructureSection {
    flex: 1;
}

.#{$prefix}StructureSectionContent > * {
    margin-block: 20px;
}

:is(.#{$prefix}StructureBodyContent, .#{$prefix}StructureSectionContent) > *:first-child {
    margin-block-start: 0;
}

:is(.#{$prefix}StructureBodyContent, .#{$prefix}StructureSectionContent) > *:last-child {
    margin-block-end: 0;
}
