/* Section containers management */

:is(.vkStructureBody, .vkStructureSection) {
    display: flex;
    flex-wrap: nowrap;

    @media (width >= 768px) /* Computers */ {
        flex-direction: row;

        > *:not(:last-child, .vkNotificationContainer) {
            border-inline-end: 1px solid color("N80");
        }
    }

    @media (width <= 767px) /* Smartphones */ {
        flex-direction: column-reverse;

        > *:not(:last-child, .vkNotificationContainer) {
            border-block-end: 1px solid color("N80");
        }
    }
}

.vkStructureSection > *:not(:last-child) {
    @media (width >= 768px) /* Computers */ {
        border-image: linear-gradient(
                to bottom,
                transparent calc(0% + 20px),
                color("N80") calc(0% + 120px),
                color("N80") calc(100% - 120px),
                transparent calc(100% - 20px)
            )
            0 1 0;
    }

    @media (width <= 767px) /* Smartphones */ {
        border-image: linear-gradient(
                to right,
                transparent calc(0% + 20px),
                color("N80") calc(0% + 120px),
                color("N80") calc(100% - 120px),
                transparent calc(100% - 20px)
            )
            1 0 0 0;
    }
}

.vkStructureSection {
    flex: 1;
}

:is(.vkStructureBodyContent, .vkStructureSectionContent) {
    flex: 1;
    position: relative;

    > *:first-child {
        margin-block-start: 0;
    }

    > *:last-child {
        margin-block-end: 0;
    }
}

.vkStructureBodyContent {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.vkStructureSectionContent {
    padding: 10px;

    > * {
        margin-block: 20px;
    }
}
