/* Global */

.vkTabs {
    border-radius: var(--vkBorderRadius);
    overflow: hidden;
}

/* Header */

.vkTabsHeader {
    display: flex;
    flex-wrap: wrap;
    border-block-end: 1px hsl(var(--vkColorN80)) solid;
    padding-inline: 15px;
    padding-block-end: 5px;
}

@media (width < 480px) /* Smartphones */ {
    .vkTabsHeader {
        padding-inline: 5px;
    }
}

.vkTabsHeader > a {
    padding: 15px;
    position: relative;
    color: hsl(var(--vkColorN00));
}

.vkTabsHeader > a * {
    color: inherit;
    font-family: var(--vkFontsTitle);
    font-size: 1.125rem;
}

.vkTabsHeader .statusActive {
    font-weight: bold;
}

.vkTabs .vkTabsHeader > *:hover,
.vkTabs .vkTabsHeader .statusActive * {
    color: hsl(var(--vkColorA50));
}

.vkTabs .vkTabsHeader .statusActive::after {
    content: "";
    width: calc(100% - 30px);
    height: 5px;
    background-color: hsl(var(--vkColorA50));
    position: absolute;
    border-radius: 5px;
    transform: translateY(10px);
}

/* Content */

.vkTabsContent {
    padding: 15px;
}

.vkTabsContent div {
    display: none;
}

.vkTabsContent .statusActive {
    display: block;
}

/* Contrast style */

.vkTabs.styleContrast {
    border: 1px hsl(var(--vkColorN50)) solid;
}

.vkTabs.styleContrast .vkTabsHeader {
    background-color: hsl(var(--vkColorN80));
    border-block-end: 1px hsl(var(--vkColorN50)) solid;
    padding-block-end: 0; // To reset margin created for ::after symbol for other style
}

.vkTabs.styleContrast .vkTabsContent {
    background-color: hsl(var(--vkColorN90));
}

.vkTabs.styleContrast .vkTabsHeader > *:hover,
.vkTabs.styleContrast .vkTabsHeader .statusActive * {
    color: hsl(var(--vkColorN00));
}

.vkTabs.styleContrast .vkTabsHeader .statusActive::after {
    all: unset;
}
