.#{$prefix}Table table {
    border-collapse: collapse;
}

.#{$prefix}Table :is(td, th) {
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    border-block: 1px color("N50") solid;
}

.#{$prefix}Table caption {
    color: color("N50");
    font-style: italic;
    margin: 5px;
    font-size: 0.875rem;
    caption-side: bottom;
}

.#{$prefix}Table th {
    font-weight: bold;
    font-family: var(--#{$prefix}FontsTitle);
}
