.vkTable {
    table {
        border-collapse: collapse;
    }

    :is(td, th) {
        padding: 10px 20px;
        text-align: center;
        vertical-align: middle;
        border-block: 1px color("N50") solid;
    }

    caption {
        color: color("N50");
        font-style: italic;
        margin: 5px;
        font-size: 0.875rem;
        caption-side: bottom;
    }

    th {
        font-weight: bold;
        font-family: var(--vkFontsTitle);
    }
}
