/* Global */

.#{$prefix}Tabs {
    border-radius: var(--#{$prefix}BorderRadius);
    overflow: hidden;
}

/* Header */

.#{$prefix}TabsHeader {
    display: flex;
    flex-wrap: wrap;
    border-block-end: 1px color("N80") solid;
    padding-inline: 15px;
    padding-block-end: 5px;
}

@media (width < 480px) /* Smartphones */ {
    .#{$prefix}TabsHeader {
        padding-inline: 5px;
    }
}

.#{$prefix}TabsHeader > a {
    padding: 15px;
    position: relative;
    color: color("N00");
}

.#{$prefix}TabsHeader > a * {
    color: inherit;
    font-family: var(--#{$prefix}FontsTitle);
    font-size: 1.125rem;
}

.#{$prefix}TabsHeader .statusActive {
    font-weight: bold;
}

.#{$prefix}Tabs .#{$prefix}TabsHeader > *:hover,
.#{$prefix}Tabs .#{$prefix}TabsHeader .statusActive * {
    color: color("A50");
}

.#{$prefix}Tabs .#{$prefix}TabsHeader .statusActive::after {
    content: "";
    width: calc(100% - 30px);
    height: 5px;
    background-color: color("A50");
    position: absolute;
    border-radius: 5px;
    transform: translateY(10px);
}

/* Content */

.#{$prefix}TabsContent {
    padding: 15px;
}

.#{$prefix}TabsContent div {
    display: none;
}

.#{$prefix}TabsContent .statusActive {
    display: block;
}

/* Contrast style */

.#{$prefix}Tabs.styleContrast {
    border: 1px color("N50") solid;
}

.#{$prefix}Tabs.styleContrast .#{$prefix}TabsHeader {
    background-color: color("N80");
    border-block-end: 1px color("N50") solid;
    padding-block-end: 0; // To reset margin created for ::after symbol for other style
}

.#{$prefix}Tabs.styleContrast .#{$prefix}TabsContent {
    background-color: color("N90");
}

.#{$prefix}Tabs.styleContrast .#{$prefix}TabsHeader > *:hover,
.#{$prefix}Tabs.styleContrast .#{$prefix}TabsHeader .statusActive * {
    color: color("N00");
}

.#{$prefix}Tabs.styleContrast .#{$prefix}TabsHeader .statusActive::after {
    all: unset;
}
