/* Prefix */

$prefix: "vk";

/* Colors */

@function color($color, $opacity: 100%) {
    @if $opacity == 100% {
        @return hsl(var(--#{$prefix}Color#{$color}));
    } @else {
        @return hsl(var(--#{$prefix}Color#{$color}) / #{$opacity});
    }
}

/* Icons */

@mixin iconSize($size) {
    width: #{$size};
    height: #{$size};
    font-size: #{$size};
}

$iconSelector: ":is(i, img)";
